<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_spaceGhost1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{231,167}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{231,167}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_spaceGhost1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{231,193}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{231,193}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_spaceGhost1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{231,193}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{231,193}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_spaceGhost1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,195}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{231,195}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_spaceGhost1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{231,167}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{231,167}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_spaceGhost1Atlas.png</string>
            <key>size</key>
            <string>{235,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:317e9b7ce6330e7347a48742bc2d5883:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_spaceGhost1Atlas.png</string>
        </dict>
    </dict>
</plist>
