<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_effect_baofu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1507},{241,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,106}}</string>
                <key>sourceSize</key>
                <string>{241,106}</string>
            </dict>
            <key>fish_effect_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,595},{248,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,55}}</string>
                <key>sourceSize</key>
                <string>{248,55}</string>
            </dict>
            <key>fish_effect_choudai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1615},{272,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,74}}</string>
                <key>sourceSize</key>
                <string>{272,74}</string>
            </dict>
            <key>fish_effect_coinbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,944},{771,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{771,720}}</string>
                <key>sourceSize</key>
                <string>{771,720}</string>
            </dict>
            <key>fish_effect_deng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,1634},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>fish_effect_deng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,1588},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>fish_effect_deng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,1611},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>fish_effect_deng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,1588},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>fish_effect_deng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1588},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>fish_effect_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,944},{561,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,191}}</string>
                <key>sourceSize</key>
                <string>{561,191}</string>
            </dict>
            <key>fish_effect_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1717},{647,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,367}}</string>
                <key>sourceSize</key>
                <string>{647,367}</string>
            </dict>
            <key>fish_effect_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1936},{283,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>fish_effect_guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1936},{194,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,206}}</string>
                <key>sourceSize</key>
                <string>{194,206}</string>
            </dict>
            <key>fish_effect_jinguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,944},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fish_effect_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1717},{648,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,658}}</string>
                <key>sourceSize</key>
                <string>{648,658}</string>
            </dict>
            <key>fish_effect_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{990,940}}</string>
                <key>offset</key>
                <string>{-15,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{990,940}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>fish_effect_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{990,940}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{990,940}}</string>
                <key>sourceSize</key>
                <string>{990,940}</string>
            </dict>
            <key>fish_effect_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{990,940}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{990,940}}</string>
                <key>sourceSize</key>
                <string>{990,940}</string>
            </dict>
            <key>fish_effect_pan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2074},{232,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,238}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fish_effect_pan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2144},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish_effect_piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1936},{415,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,136}}</string>
                <key>sourceSize</key>
                <string>{415,136}</string>
            </dict>
            <key>fish_effect_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2221},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fish_effect_quan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2221},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fish_effect_quan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2190},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fish_effect_tanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2074},{114,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>fish_effect_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,944},{428,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,109}}</string>
                <key>sourceSize</key>
                <string>{428,109}</string>
            </dict>
            <key>fish_effect_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{591,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,110}}</string>
                <key>sourceSize</key>
                <string>{591,110}</string>
            </dict>
            <key>fish_effect_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1374},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{2048,2367}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d20675e5cf0ba3a43fc21195a9083e$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
