<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishhappy_fish_10101.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,267},{129,45}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,41},{129,45}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_10201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{107,101}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,13},{107,101}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_10301.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1526},{99,85}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,21},{99,85}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_10401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{99,91}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,19},{99,91}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_10501.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1934},{87,87}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,19},{87,87}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{121,133}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{121,133}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11002.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,675},{65,73}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,25},{65,73}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11003.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1346},{73,83}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{73,83}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11004.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1627},{85,95}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,22},{85,95}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{103,105}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,18},{103,105}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,521},{53,93}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,18},{53,93}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11007.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1065},{95,79}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,22},{95,79}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11008.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1431},{59,93}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,17},{59,93}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1748},{93,93}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,18},{93,93}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11010.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,855},{111,73}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,23},{111,73}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{107,87}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,19},{107,87}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1934},{87,89}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,25},{87,89}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1843},{89,91}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,13},{89,91}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11014.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1821},{93,85}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,21},{93,85}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{113,75}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{113,75}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11016.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1247},{97,73}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,24},{97,73}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1463},{97,101}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,19},{97,101}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11018.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,968},{79,95}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,19},{79,95}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11019.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,750},{59,103}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,13},{59,103}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11020.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,398},{121,45}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,41},{121,45}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{103,103}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,8},{103,103}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{139,67}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{139,67}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11052.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1162},{79,83}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,22},{79,83}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{163,69}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{163,69}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{131,109}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,8},{131,109}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11061.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1724},{87,95}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,14},{87,95}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{115,103}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,13},{115,103}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{173,85}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{173,85}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{141,103}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,13},{141,103}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_11601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{101,91}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,17},{101,91}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_12001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1049},{105,103}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{105,103}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_12002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,105}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{179,105}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
            <key>fishhappy_fish_13001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{97,105}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,9},{97,105}}</string>
                <key>sourceSize</key>
                <string>{225,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishhappy_fish.png</string>
            <key>size</key>
            <string>{192,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac4f91dc146ac3f987070ef79d04c38e$</string>
            <key>textureFileName</key>
            <string>fishhappy_fish.png</string>
        </dict>
    </dict>
</plist>
