<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishhappy_sel_autotip.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,78},{442,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,85}}</string>
                <key>sourceSize</key>
                <string>{442,85}</string>
            </dict>
            <key>fishhappy_sel_cancelbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,165},{186,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,69}}</string>
                <key>sourceSize</key>
                <string>{186,69}</string>
            </dict>
            <key>fishhappy_sel_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,165},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>fishhappy_sel_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,78},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fishhappy_sel_guajibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,190},{433,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,47}}</string>
                <key>sourceSize</key>
                <string>{433,47}</string>
            </dict>
            <key>fishhappy_sel_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{1040,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,74}}</string>
                <key>sourceSize</key>
                <string>{1040,74}</string>
            </dict>
            <key>fishhappy_sel_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,143}}</string>
                <key>sourceSize</key>
                <string>{224,143}</string>
            </dict>
            <key>fishhappy_sel_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{186,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,69}}</string>
                <key>sourceSize</key>
                <string>{186,69}</string>
            </dict>
            <key>fishhappy_sel_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,165},{395,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,38}}</string>
                <key>sourceSize</key>
                <string>{395,38}</string>
            </dict>
            <key>fishhappy_sel_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,205},{364,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,34}}</string>
                <key>sourceSize</key>
                <string>{364,34}</string>
            </dict>
            <key>fishhappy_sel_yuanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,120},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>fishhappy_ylbk_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,78},{445,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,85}}</string>
                <key>sourceSize</key>
                <string>{445,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishhappy_autosel.png</string>
            <key>size</key>
            <string>{1260,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f070bae04c568c30ebffc0a8e6b986$</string>
            <key>textureFileName</key>
            <string>fishhappy_autosel.png</string>
        </dict>
    </dict>
</plist>
