<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_fisherinfobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{240,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,72}}</string>
                <key>sourceSize</key>
                <string>{240,72}</string>
            </dict>
            <key>fish_fishing_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,227},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>fish_fishing_btn_aim.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,227},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>fish_fishing_btn_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,227},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>fish_fishing_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,227},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>fish_fishing_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,310}}</string>
                <key>sourceSize</key>
                <string>{246,310}</string>
            </dict>
            <key>fish_fishing_btn_cancelguaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,2},{186,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,69}}</string>
                <key>sourceSize</key>
                <string>{186,69}</string>
            </dict>
            <key>fish_fishing_btn_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,227},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>fish_fishing_btn_guaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,227},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>fish_fishing_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,227},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>fish_fishing_btn_operate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fish_fishing_btn_operate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>fish_fishing_btn_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,227},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>fish_fishing_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,244},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>fish_fishing_image_aim.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,177},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>fish_fishing_img_bosscome.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{1143,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1143,223}}</string>
                <key>sourceSize</key>
                <string>{1143,223}</string>
            </dict>
            <key>fish_fishing_img_cannon_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,142},{135,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,33}}</string>
                <key>sourceSize</key>
                <string>{135,33}</string>
            </dict>
            <key>fish_fishing_img_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,190},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>fish_fishing_img_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{107,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,7}}</string>
                <key>sourceSize</key>
                <string>{107,7}</string>
            </dict>
            <key>fish_fishing_img_progressbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,304},{110,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,10}}</string>
                <key>sourceSize</key>
                <string>{110,10}</string>
            </dict>
            <key>fish_fishing_img_speed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,227},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>fish_fishing_img_speed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,227},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>fish_fishing_img_speed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,227},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>fish_fishing_img_speed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,227},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>fish_fishing_img_tray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,177},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>fish_fishing_img_tray2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,106},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>fish_fishing_img_tray3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,190},{131,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,132}</string>
            </dict>
            <key>fish_fishing_img_tray4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,106},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>fish_fishing_img_tray5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>fish_fishing_img_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,301},{69,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,20}}</string>
                <key>sourceSize</key>
                <string>{69,20}</string>
            </dict>
            <key>fish_fishing_img_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{180,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,67}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>fish_fishing_item_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,227},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>fish_fishing_lockfish_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,304},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishing.png</string>
            <key>size</key>
            <string>{1990,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61ea9dbf6c4f7e3f39ae40aeb8f7f125$</string>
            <key>textureFileName</key>
            <string>fishing.png</string>
        </dict>
    </dict>
</plist>
