<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hailang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{301,360}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{301,360}}</string>
                <key>sourceSize</key>
                <string>{315,360}</string>
            </dict>
            <key>hailang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1},{299,360}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{299,360}}</string>
                <key>sourceSize</key>
                <string>{315,360}</string>
            </dict>
            <key>hailang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{307,360}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{307,360}}</string>
                <key>sourceSize</key>
                <string>{315,360}</string>
            </dict>
            <key>hailang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{309,360}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{309,360}}</string>
                <key>sourceSize</key>
                <string>{315,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hailang.png</string>
            <key>size</key>
            <string>{1221,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03b8e8ebc6da6f5267f26954e8a66a15:1/1$</string>
            <key>textureFileName</key>
            <string>hailang.png</string>
        </dict>
    </dict>
</plist>
