<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kp_bravePioneer_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{510,142},{80,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_bravePioneer_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{227,1},{82,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_bravePioneer_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{78,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{311,1},{78,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_iceGuard_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{381,143},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_iceGuard_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{76,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{136,144},{76,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_iceGuard_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{54,148},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_iceGuard_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{214,144},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,31}</string>
                <key>spriteSize</key>
                <string>{25,17}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{381,235},{25,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,23}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{744,132},{49,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{129,69}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{738,1},{129,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{145,89}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{141,133}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{92,1},{141,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{135,139}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{391,1},{135,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{528,1},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{79,129}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{657,1},{79,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,10}</string>
                <key>spriteSize</key>
                <string>{51,103}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{1,148},{51,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{97,89}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{290,143},{97,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-35}</string>
                <key>spriteSize</key>
                <string>{123,39}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{703,132},{123,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-29}</string>
                <key>spriteSize</key>
                <string>{119,51}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{650,136},{119,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-26}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{459,142},{89,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-23}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{510,224},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kaiPao.png</string>
            <key>size</key>
            <string>{808,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f7f84221d07261bfd6e17b655ae19f5:9281a0ef1449afb5c9a67e6181132cd4:bf6f55b4b46f06ec680d5fe8bec1ac5f$</string>
            <key>textureFileName</key>
            <string>kaiPao.png</string>
        </dict>
    </dict>
</plist>
