<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishinghappy_set_audio.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,459},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>fishinghappy_set_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{837,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,369}}</string>
                <key>sourceSize</key>
                <string>{837,369}</string>
            </dict>
            <key>fishinghappy_set_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{901,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{901,492}}</string>
                <key>sourceSize</key>
                <string>{901,492}</string>
            </dict>
            <key>fishinghappy_set_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,435},{246,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{246,60}}</string>
                <key>sourceSize</key>
                <string>{274,78}</string>
            </dict>
            <key>fishinghappy_set_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,373},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>fishinghappy_set_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,459},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>fishinghappy_set_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,373},{246,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{246,60}}</string>
                <key>sourceSize</key>
                <string>{274,78}</string>
            </dict>
            <key>fishinghappy_set_settip.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,373},{350,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,84}}</string>
                <key>sourceSize</key>
                <string>{350,84}</string>
            </dict>
            <key>fishinghappy_set_shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,459},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{1744,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:784f3a98a994b6cc6fcf29e905205c30$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
