<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1843},{139,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1840},{139,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1703},{139,138}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1185},{141,140}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{141,140}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1743},{139,138}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1701},{139,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1563},{139,138}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1604},{139,138}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1142},{141,140}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{141,140}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1562},{139,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1423},{139,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1465},{139,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1423},{139,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1283},{139,140}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,140}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1326},{139,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,138}}</string>
                <key>sourceSize</key>
                <string>{147,142}</string>
            </dict>
            <key>baozhalizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1261},{76,85}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,87},{76,85}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1142},{118,129}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,66},{118,129}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1050},{134,143}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,53},{134,143}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,985},{156,173}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,43},{156,173}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,394},{172,191}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{172,191}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,217},{176,193}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,26},{176,193}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,567},{188,201}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{188,201}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1},{194,215}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{194,215}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,769},{198,215}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{198,215}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{206,211}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,22},{206,211}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,423},{206,221}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,15},{206,221}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,214},{208,223}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{208,223}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,223}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{212,223}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,630},{212,217}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{212,217}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandianbaozha.png</string>
            <key>size</key>
            <string>{420,1983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b94125bd72c0edeec382b814b63450d0:1/1$</string>
            <key>textureFileName</key>
            <string>shandianbaozha.png</string>
        </dict>
    </dict>
</plist>
