<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kh_shop_freetag.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,489},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>kh_tienlen_activitytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,499},{82,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,23}}</string>
                <key>sourceSize</key>
                <string>{82,23}</string>
            </dict>
            <key>kh_tienlen_anim_bisaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,153},{121,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,55}}</string>
                <key>sourceSize</key>
                <string>{121,55}</string>
            </dict>
            <key>kh_tienlen_anim_jingdianchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,97},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>kh_tienlen_anim_yulechang.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,412},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>kh_tienlen_anim_ziyouzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{125,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,47}}</string>
                <key>sourceSize</key>
                <string>{125,47}</string>
            </dict>
            <key>kh_tienlen_bag_btn_chushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,279},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>kh_tienlen_bag_btn_shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,510},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>kh_tienlen_bag_btn_zengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,460},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>kh_tienlen_bag_chushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,451},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>kh_tienlen_bag_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,312},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>kh_tienlen_bag_queding_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,454},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>kh_tienlen_bag_tab_daoju_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,310},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_duihuan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_duihuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_quanbu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,499},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_quanbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,154},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_xuanzehaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,639},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>kh_tienlen_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,256},{188,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,56}}</string>
                <key>sourceSize</key>
                <string>{188,56}</string>
            </dict>
            <key>kh_tienlen_btn_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,386},{102,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{102,66}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_btn_chongwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,454},{98,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{98,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_btn_fasong.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,539},{65,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,42}}</string>
                <key>sourceSize</key>
                <string>{65,42}</string>
            </dict>
            <key>kh_tienlen_btn_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,310},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>kh_tienlen_btn_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,457},{54,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{54,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_btn_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,526},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>kh_tienlen_btn_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,432},{50,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{50,58}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_btn_shoptext.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,460},{71,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,27}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>kh_tienlen_btn_sousuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,492},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>kh_tienlen_btn_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,613},{78,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{78,62}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_chehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,239},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_chongwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{179,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,64}}</string>
                <key>sourceSize</key>
                <string>{179,64}</string>
            </dict>
            <key>kh_tienlen_chongwu_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,561},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_chongwu_beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,324},{120,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,36}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_chongwu_chongwujineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,509},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_chongwu_chongwujineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,286},{120,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,36}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_chongwu_gensui.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,168},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_chongwu_huoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,148},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_cishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{186,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,44}}</string>
                <key>sourceSize</key>
                <string>{186,44}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_huafei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,290},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,72}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_huafei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,78},{140,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,219},{206,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,35}}</string>
                <key>sourceSize</key>
                <string>{206,35}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,364},{125,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,31}}</string>
                <key>sourceSize</key>
                <string>{125,31}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_shiwu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,216},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,72}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_shiwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{140,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{361,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,93}}</string>
                <key>sourceSize</key>
                <string>{361,93}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,305},{134,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,33}}</string>
                <key>sourceSize</key>
                <string>{134,33}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_zhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,435},{101,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
            <key>kh_tienlen_freeget.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,387},{160,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,39}}</string>
                <key>sourceSize</key>
                <string>{160,39}</string>
            </dict>
            <key>kh_tienlen_got.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,362},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>kh_tienlen_icon_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,610},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>kh_tienlen_juese_beijing_weixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,248},{120,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,36}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_juese_beijing_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,416},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_juese_jineng_weixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,210},{120,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,36}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_juese_jineng_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,372},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_juese_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,464},{95,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{95,53}</string>
            </dict>
            <key>kh_tienlen_juese_shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_juese_yishiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,97},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_manji.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,605},{125,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,104}}</string>
                <key>sourceSize</key>
                <string>{127,106}</string>
            </dict>
            <key>kh_tienlen_shop_left_daoju_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,397},{102,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,36}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>kh_tienlen_shop_left_daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,677},{102,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,36}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>kh_tienlen_shop_left_jinbi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,364},{91,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,32}}</string>
                <key>sourceSize</key>
                <string>{91,32}</string>
            </dict>
            <key>kh_tienlen_shop_left_jinbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,219},{91,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,32}}</string>
                <key>sourceSize</key>
                <string>{91,32}</string>
            </dict>
            <key>kh_tienlen_shop_left_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,480},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>kh_tienlen_shop_left_zuanshi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,577},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>kh_tienlen_shop_left_zuanshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,571},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>kh_tienlen_shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,428},{149,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,69}}</string>
                <key>sourceSize</key>
                <string>{149,69}</string>
            </dict>
            <key>kh_tienlen_sign_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{510,144}}</string>
                <key>sourceSize</key>
                <string>{530,144}</string>
            </dict>
            <key>kh_tienlen_uinfo_bisaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,295},{115,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>kh_tienlen_uinfo_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,148},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>kh_tienlen_uinfo_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,314},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>kh_tienlen_uinfo_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>kh_tienlen_uinfo_yule.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,441},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>kh_tienlen_youjian_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{232,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,74}}</string>
                <key>sourceSize</key>
                <string>{232,74}</string>
            </dict>
            <key>kh_tienlen_youjian_yidu.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,387},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kh_tienlen.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a36933f3b2cf3bb78e493c32c7dc887$</string>
            <key>textureFileName</key>
            <string>kh_tienlen.png</string>
        </dict>
    </dict>
</plist>
