<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>0.0</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>772</integer>
	<key>configName</key>
	<string>boom</string>
	<key>duration</key>
	<real>0.20000000000000001</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.0031641072127968073</real>
	<key>finishColorGreen</key>
	<real>0.0076869907788932323</real>
	<key>finishColorRed</key>
	<real>0.15342259407043457</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>512</real>
	<key>finishParticleSizeVariance</key>
	<real>173.47126770019531</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>0.0</real>
	<key>maxParticles</key>
	<real>600</real>
	<key>maxRadius</key>
	<real>62.814296722412109</real>
	<key>maxRadiusVariance</key>
	<real>418.2381591796875</real>
	<key>minRadius</key>
	<real>797.90771484375</real>
	<key>minRadiusVariance</key>
	<real>476.113525390625</real>
	<key>particleLifespan</key>
	<real>0.80000000000000004</real>
	<key>particleLifespanVariance</key>
	<real>0.29999999999999999</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>-510.0574951171875</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>364.97845458984375</real>
	<key>rotationStart</key>
	<real>50</real>
	<key>rotationStartVariance</key>
	<real>175.52262878417969</real>
	<key>sourcePositionVariancex</key>
	<real>20</real>
	<key>sourcePositionVariancey</key>
	<real>20</real>
	<key>sourcePositionx</key>
	<real>160</real>
	<key>sourcePositiony</key>
	<real>240</real>
	<key>speed</key>
	<real>1252.514404296875</real>
	<key>speedVariance</key>
	<real>401.67025756835938</real>
	<key>startColorAlpha</key>
	<real>0.0</real>
	<key>startColorBlue</key>
	<real>0.070890419185161591</real>
	<key>startColorGreen</key>
	<real>0.18844372034072876</real>
	<key>startColorRed</key>
	<real>0.29805845022201538</real>
	<key>startColorVarianceAlpha</key>
	<real>1</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>512</real>
	<key>startParticleSizeVariance</key>
	<real>184.50575256347656</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>boom.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
