<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>absolutePosition</key>
    <false/>
    <key>angle</key>
    <integer>0</integer>
    <key>angleVariance</key>
    <real>145.60009765625</real>
    <key>blendFuncDestination</key>
    <integer>4</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>configName</key>
    <string>jinbi1</string>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>1</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <real>0.9725678563117981</real>
    <key>finishColorGreen</key>
    <real>0.9989616274833679</real>
    <key>finishColorRed</key>
    <real>0.9903236031532288</real>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>80</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>10</integer>
    <key>maxRadius</key>
    <real>51.40984344482422</real>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <real>671.3362426757812</real>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.668300986289978</real>
    <key>particleLifespanVariance</key>
    <integer>0</integer>
    <key>positionType</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <real>3418.679</real>
    <key>rotationEndVariance</key>
    <real>3366.4770000000003</real>
    <key>rotationStart</key>
    <real>55.16335</real>
    <key>rotationStartVariance</key>
    <real>56.111509999999996</real>
    <key>sourcePositionVariancex</key>
    <integer>0</integer>
    <key>sourcePositionVariancey</key>
    <integer>0</integer>
    <key>sourcePositionx</key>
    <integer>160</integer>
    <key>sourcePositiony</key>
    <integer>240</integer>
    <key>speed</key>
    <real>813.57763671875</real>
    <key>speedVariance</key>
    <real>217.03360000000004</real>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <real>0.945182740688324</real>
    <key>startColorGreen</key>
    <real>0.9980159401893616</real>
    <key>startColorRed</key>
    <real>0.9848203063011169</real>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>80</integer>
    <key>startParticleSizeVariance</key>
    <integer>0</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>textureFileName</key>
    <string>jinbi1.png</string>
    <key>textureImageData</key>
    <string/>
    <key>yCoordFlipped</key>
    <integer>1</integer>
  </dict>
</plist>