<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_107_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,198},{162,198}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{162,198}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,196},{166,198}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{166,198}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,338},{154,198}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{154,198}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,182},{154,196}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{154,196}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{180,194}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{180,194}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{212,192}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{212,192}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{228,190}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{218,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{218,190}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{196,194}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{196,194}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{178,196}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{178,196}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,198},{162,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{162,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,362},{148,190}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{148,190}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{106,176}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,3},{106,176}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>fish_107_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,362},{104,170}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,7},{104,170}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_107.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3f3c1be39dd43b61d36a93adc1e422e$</string>
            <key>textureFileName</key>
            <string>fish_107.png</string>
        </dict>
    </dict>
</plist>
