<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_114_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,196}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{238,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{190,208}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,21},{190,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{200,220}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{200,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,606},{200,216}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{200,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{196,210}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{196,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1006},{192,208}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{192,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{192,204}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{192,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{192,202}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{192,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,404},{220,200}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{220,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1422},{202,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{202,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1018},{210,190}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,33},{210,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{236,208}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{236,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{228,190}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{228,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,808},{210,208}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,33},{210,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1210},{206,206}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{206,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1216},{206,204}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{206,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1418},{192,202}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,33},{192,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,412},{178,200}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,32},{178,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,212},{162,198}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,33},{162,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,614},{180,198}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,32},{180,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,212},{226,190}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{226,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{222,190}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{222,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{216,190}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{216,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{192,190}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{192,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,814},{194,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{194,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1612},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{192,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1806},{190,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{190,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1806},{190,192}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,31},{190,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_114_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1614},{188,192}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,32},{188,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_114.png</string>
            <key>size</key>
            <string>{628,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45648cbddb11af53d0c1c5128d609553$</string>
            <key>textureFileName</key>
            <string>fish_114.png</string>
        </dict>
    </dict>
</plist>
