<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_117_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,116},{132,342}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{132,342}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,116},{130,344}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{130,344}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{124,348}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,81},{124,348}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{114,352}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,83},{114,352}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{118,350}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,81},{118,350}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{138,346}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{138,346}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,352},{154,344}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,80},{154,344}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{148,346}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,81},{148,346}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{136,350}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,81},{136,350}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{130,348}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,81},{130,348}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,352}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,83},{130,352}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,354},{140,338}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,99},{140,338}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{122,330}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,93},{122,330}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>fish_117_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{112,318}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,86},{112,318}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_117.png</string>
            <key>size</key>
            <string>{1356,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ce4e81c890155f5034f9748add0daa3$</string>
            <key>textureFileName</key>
            <string>fish_117.png</string>
        </dict>
    </dict>
</plist>
