<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_128_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,486},{268,242}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{268,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,242},{230,242}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{230,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{280,236}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{280,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,238},{230,272}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{230,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,242},{232,270}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{232,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,738},{268,242}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{268,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,470},{264,260}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{264,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,290}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,756},{236,232}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{236,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{274,262}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{274,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{264,266}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{264,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,732},{250,266}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{250,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{298,234}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{298,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{238,290}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{238,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,476},{260,264}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{260,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{212,182}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,56},{212,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,756},{196,178}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,52},{196,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,486},{176,160}}</string>
                <key>offset</key>
                <string>{28,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,53},{176,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_128_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,240},{158,158}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,51},{158,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_128.png</string>
            <key>size</key>
            <string>{1208,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41ed94d17503961226967a356c3f5b0d$</string>
            <key>textureFileName</key>
            <string>fish_128.png</string>
        </dict>
    </dict>
</plist>
