<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_131_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,2},{164,412}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{164,412}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{176,412}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{176,412}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,360},{160,412}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{160,412}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,362},{160,410}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{160,410}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,200},{160,412}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{160,412}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{166,412}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{166,412}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,180},{178,410}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{178,410}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,170},{182,408}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{182,408}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{184,408}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{184,408}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{182,410}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{182,410}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,432}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{168,432}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{196,416}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{196,416}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,354},{166,410}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{166,410}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_131_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{158,378}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{158,378}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_131.png</string>
            <key>size</key>
            <string>{2035,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64a8684a12b7e55af4ec9d5e241cc76c$</string>
            <key>textureFileName</key>
            <string>fish_131.png</string>
        </dict>
    </dict>
</plist>
