<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_126_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{278,758}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{278,758}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{254,756}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{254,756}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,766},{284,758}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{284,758}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,756},{266,752}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{266,752}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{274,748}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{274,748}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{308,750}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{308,750}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,754},{300,750}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,750}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,752},{278,746}}</string>
                <key>offset</key>
                <string>{-31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,746}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{268,746}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{268,746}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{268,752}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{268,752}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,762}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{276,762}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,760},{278,752}}</string>
                <key>offset</key>
                <string>{-25,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{278,752}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{248,762}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{248,762}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{226,762}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{226,762}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,762},{216,758}}</string>
                <key>offset</key>
                <string>{37,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{216,758}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
            <key>fish_126_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1514},{242,742}}</string>
                <key>offset</key>
                <string>{49,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,3},{242,742}}</string>
                <key>sourceSize</key>
                <string>{340,780}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_126.png</string>
            <key>size</key>
            <string>{1942,1758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea28cc1ef2b58464f221691c9bc1e966$</string>
            <key>textureFileName</key>
            <string>fish_126.png</string>
        </dict>
    </dict>
</plist>
