<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_130_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,478},{152,458}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,23},{152,458}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,470},{176,456}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,23},{176,456}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,472},{138,468}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,23},{138,468}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,476}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,23},{140,476}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{152,474}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,23},{152,474}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,472},{166,468}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,23},{166,468}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,476},{182,464}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,23},{182,464}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{190,468}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,23},{190,468}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{194,472}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,23},{194,472}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{186,466}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,23},{186,466}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{156,460}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,25},{156,460}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{204,424}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,32},{204,424}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,500},{272,388}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,39},{272,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fish_130_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,208},{290,294}}</string>
                <key>offset</key>
                <string>{-10,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,43},{290,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_130.png</string>
            <key>size</key>
            <string>{1302,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a001c1c28a3eebf107f5939dd3cda0e$</string>
            <key>textureFileName</key>
            <string>fish_130.png</string>
        </dict>
    </dict>
</plist>
