<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_116_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{214,118}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,58},{214,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{216,122}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,57},{216,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{214,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,57},{214,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{214,118}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,56},{214,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{214,114}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,56},{214,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{216,114}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,56},{216,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{218,114}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{218,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{220,116}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,58},{220,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{220,118}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{220,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{218,120}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,59},{218,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{214,118}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,58},{214,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{218,120}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,58},{218,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{220,128}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,58},{220,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,128}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,59},{220,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_116_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{218,124}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,61},{218,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_116.png</string>
            <key>size</key>
            <string>{224,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0ce341d090c35d5d617dd39304cde62$</string>
            <key>textureFileName</key>
            <string>fish_116.png</string>
        </dict>
    </dict>
</plist>
