<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_108_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{126,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,345},{114,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{114,111}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,687},{108,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{108,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,797},{106,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{106,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,573},{112,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{112,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{120,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{120,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{126,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,458},{122,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,230},{114,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{114,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{108,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{108,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{106,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{106,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{112,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{112,111}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,117},{120,111}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{120,111}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{124,111}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{124,111}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{122,111}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{122,111}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{114,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,105}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,905},{94,105}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{94,105}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>fish_108_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1001},{90,95}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{90,95}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_108.png</string>
            <key>size</key>
            <string>{252,1093}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db9528616b411e5ad6de347e6893751b$</string>
            <key>textureFileName</key>
            <string>fish_108.png</string>
        </dict>
    </dict>
</plist>
