<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_132_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,872},{284,228}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,144},{284,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1636},{274,226}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,155},{274,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1732},{272,230}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,154},{272,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1570},{274,226}}</string>
                <key>offset</key>
                <string>{-14,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,153},{274,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1510},{272,232}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,154},{272,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1728},{274,234}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,153},{274,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1408},{274,226}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,152},{274,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,944},{276,224}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,150},{276,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1170},{278,236}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,149},{278,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,806},{280,234}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,146},{280,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{282,240}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,145},{282,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,874},{284,226}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,145},{284,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1042},{282,228}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,144},{282,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1446},{284,234}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,145},{284,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1676},{284,238}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,146},{284,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,586},{284,230}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,148},{284,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1102},{280,228}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,149},{280,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,566},{280,238}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,152},{280,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1332},{276,236}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,153},{276,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,700},{276,242}}</string>
                <key>offset</key>
                <string>{-14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,153},{276,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,648},{284,224}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,145},{284,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,974},{262,222}}</string>
                <key>offset</key>
                <string>{22,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,143},{262,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{282,334}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,139},{282,334}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{408,418}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,92},{408,418}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{522,514}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,55},{522,514}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,582}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{580,582}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{558,572}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{558,572}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{554,562}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{554,562}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1798},{258,222}}</string>
                <key>offset</key>
                <string>{24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,143},{258,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,474},{286,224}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,144},{286,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,422},{286,224}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,144},{286,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1160},{284,226}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,142},{284,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,244},{284,228}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,141},{284,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1500},{278,226}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,141},{278,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1272},{274,226}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,141},{274,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1238},{270,224}}</string>
                <key>offset</key>
                <string>{17,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,142},{270,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>fish_132_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,700},{272,222}}</string>
                <key>offset</key>
                <string>{18,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,143},{272,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_132.png</string>
            <key>size</key>
            <string>{1864,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7866db4b137fa3acb507dddaf481844$</string>
            <key>textureFileName</key>
            <string>fish_132.png</string>
        </dict>
    </dict>
</plist>
