<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_122_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{172,342}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{172,342}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,170},{168,340}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{168,340}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,344}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{176,344}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{170,344}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{170,344}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,338},{166,342}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{166,342}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,170},{166,340}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{166,340}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,170},{168,340}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{168,340}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,170},{166,342}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{166,342}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{166,344}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{166,344}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{166,342}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{166,342}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{170,342}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{170,342}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,170},{168,340}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{168,340}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{162,328}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{162,328}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
            <key>fish_122_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{156,324}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{156,324}}</string>
                <key>sourceSize</key>
                <string>{200,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_122.png</string>
            <key>size</key>
            <string>{1720,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7fffa6fc98c21b37f5f8a86bb257196$</string>
            <key>textureFileName</key>
            <string>fish_122.png</string>
        </dict>
    </dict>
</plist>
