<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_134_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,846},{254,204}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{254,204}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{244,214}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,33},{244,214}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1486},{242,208}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{242,208}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{256,206}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{256,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1084},{246,200}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{246,200}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{238,196}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{238,196}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{256,208}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{256,208}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,870},{252,212}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{252,212}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1052},{250,214}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{250,214}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1092},{244,218}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{244,218}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{244,220}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{244,220}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,622},{258,222}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{258,222}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,870},{248,220}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,33},{248,220}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1268},{244,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{244,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish_134_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1286},{186,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{186,212}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,620},{248,286}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,32},{248,286}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1486},{194,216}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,54},{194,216}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1312},{216,228}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{216,228}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,316}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{342,316}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{314,314}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{314,314}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{324,324}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{324,324}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{312,314}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{312,314}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,316},{306,302}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{306,302}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
            <key>fish_134_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,328},{300,292}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{300,292}}</string>
                <key>sourceSize</key>
                <string>{350,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_134.png</string>
            <key>size</key>
            <string>{1020,1698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb23b99b1df47320d2ec60af2ab043b0$</string>
            <key>textureFileName</key>
            <string>fish_134.png</string>
        </dict>
    </dict>
</plist>
