<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_133_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1666},{316,328}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,32},{316,328}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,314},{302,386}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,27},{302,386}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{306,388}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,26},{306,388}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{310,384}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,31},{310,384}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1676},{310,368}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,43},{310,368}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,824},{308,348}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,58},{308,348}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1022},{308,338}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,64},{308,338}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1332},{308,328}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{308,328}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1290},{306,316}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,72},{306,316}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1608},{310,314}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,68},{310,314}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1608},{312,318}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,56},{312,318}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,964},{320,324}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{320,324}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,974},{314,326}}</string>
                <key>offset</key>
                <string>{-20,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,43},{314,326}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1290},{324,316}}</string>
                <key>offset</key>
                <string>{-12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{324,316}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1662},{328,316}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,35},{328,316}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,646},{326,336}}</string>
                <key>offset</key>
                <string>{-7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,20},{326,336}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,698},{322,352}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,13},{322,352}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{320,370}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,8},{320,370}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{308,384}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{308,384}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1286},{294,388}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,18},{294,388}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1332},{314,332}}</string>
                <key>offset</key>
                <string>{-19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{314,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,436}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,9},{362,436}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,378},{318,340}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,28},{318,340}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,618},{324,344}}</string>
                <key>offset</key>
                <string>{-14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{324,344}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,312},{332,354}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,35},{332,354}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{340,374}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{340,374}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,428},{348,394}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{348,394}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{354,408}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{354,408}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{358,424}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,21},{358,424}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>fish_133_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{362,434}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{362,434}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_133.png</string>
            <key>size</key>
            <string>{1898,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d1b3ba11d9397ae83689c166019988c$</string>
            <key>textureFileName</key>
            <string>fish_133.png</string>
        </dict>
    </dict>
</plist>
