<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_113_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1390},{244,226}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,54},{244,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,480},{248,228}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,54},{248,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,992},{248,226}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,52},{248,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{256,224}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{256,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{264,224}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,48},{264,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,220}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,50},{268,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{268,214}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,53},{268,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{262,214}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,54},{262,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{256,222}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,52},{256,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,226},{252,228}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,51},{252,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{222,232}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,49},{222,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,730},{260,242}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,42},{260,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{244,228}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,41},{244,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_113_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1220},{248,168}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,70},{248,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_113.png</string>
            <key>size</key>
            <string>{510,1624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be042c23a6498de594af66ff84d6e07e$</string>
            <key>textureFileName</key>
            <string>fish_113.png</string>
        </dict>
    </dict>
</plist>
