<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_103_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{70,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{66,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{70,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{66,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{66,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{56,103}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{56,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{44,103}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{44,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{38,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{38,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{42,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{42,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{48,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{48,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{56,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{56,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{70,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{52,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{52,103}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{64,101}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{64,101}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>fish_103_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{66,101}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{66,101}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_103.png</string>
            <key>size</key>
            <string>{838,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9b3c7ababf7b608000ad849b9775cd3$</string>
            <key>textureFileName</key>
            <string>fish_103.png</string>
        </dict>
    </dict>
</plist>
