<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_121_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{248,284}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{248,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,606},{300,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{300,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,606},{300,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{300,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,304},{300,274}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{300,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{300,274}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{300,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{300,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{300,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{300,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{296,280}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{296,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,876},{282,280}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{282,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{268,280}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{268,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,574},{256,282}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{256,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,908},{248,282}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{248,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,590},{250,284}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{250,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,908},{248,282}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{248,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,572},{252,280}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{252,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{256,278}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{256,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,858},{264,280}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{264,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,854},{276,276}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{276,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,300},{288,274}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{288,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,276}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{300,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{246,284}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{246,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,828},{214,268}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,5},{214,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,300},{246,284}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{246,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,288},{242,284}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{242,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{240,284}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{240,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,288},{234,282}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{234,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,284},{232,280}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,9},{232,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,282},{226,274}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,10},{226,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,566},{218,272}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{218,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_121_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,558},{214,268}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,6},{214,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_121.png</string>
            <key>size</key>
            <string>{2041,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e1f17bd8b60cc6dfb2286dcee7ecd71$</string>
            <key>textureFileName</key>
            <string>fish_121.png</string>
        </dict>
    </dict>
</plist>
