<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_125_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,158},{154,274}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{154,274}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{154,274}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{154,274}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{154,274}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{154,274}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,314},{154,272}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{154,272}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,314},{154,272}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{154,272}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{154,272}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{154,272}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,158},{154,272}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{154,272}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,274}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{154,274}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,158},{154,272}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{154,272}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{154,272}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{154,272}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{154,272}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{154,272}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,314},{158,266}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,10},{158,266}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,334},{164,262}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,13},{164,262}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{164,244}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,21},{164,244}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>fish_125_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,168},{164,232}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,23},{164,232}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_125.png</string>
            <key>size</key>
            <string>{1356,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac858cadda4f74e11ec9539eb3fdd64f$</string>
            <key>textureFileName</key>
            <string>fish_125.png</string>
        </dict>
    </dict>
</plist>
