<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_118_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,196},{298,194}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{298,194}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,352},{272,190}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{272,190}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{306,196}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{306,196}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{306,194}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{306,194}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,700},{290,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{290,192}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{316,192}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{316,192}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{342,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{342,196}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,198}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{348,198}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,392},{296,194}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{296,194}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,626},{256,190}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{256,190}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,400},{298,194}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{298,194}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{306,198}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{306,198}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,700},{286,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,2},{286,198}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{214,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,2},{214,198}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>fish_118_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,202},{148,194}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,2},{148,194}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_118.png</string>
            <key>size</key>
            <string>{898,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc64f9c079d4aa4fd3be8e61c1ef61a9$</string>
            <key>textureFileName</key>
            <string>fish_118.png</string>
        </dict>
    </dict>
</plist>
