<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{126,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,18},{126,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{142,222}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,18},{142,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{98,222}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,18},{98,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{98,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,18},{98,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{110,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,18},{110,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{130,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,18},{130,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{154,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{154,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,222}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{166,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,222}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{166,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_102_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{158,222}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{158,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_102.png</string>
            <key>size</key>
            <string>{1370,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7abc25ba505210081403fb6e271a52d8$</string>
            <key>textureFileName</key>
            <string>fish_102.png</string>
        </dict>
    </dict>
</plist>
