<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_120_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,504},{246,248}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{246,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,564},{254,274}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{254,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,558},{252,268}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,9},{252,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,276},{248,262}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{248,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,540},{248,252}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{248,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,258},{252,248}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{252,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,762},{246,248}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{246,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,512},{248,248}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{248,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,762},{246,248}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{246,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,824},{178,248}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{178,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{164,268}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,21},{164,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,828},{174,276}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,18},{174,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,540},{226,282}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{226,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{252,282}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{252,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,280}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{262,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{258,278}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{258,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{246,248}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{246,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{272,248}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,35},{272,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{250,248}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,27},{250,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,254},{246,248}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{246,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,252},{244,250}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{244,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{240,250}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,25},{240,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{254,252}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,27},{254,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,284},{272,252}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{272,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{272,250}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{272,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish_120_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,276},{272,248}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{272,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_120.png</string>
            <key>size</key>
            <string>{1788,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:490418a3808904bac5922dec5d68aae8$</string>
            <key>textureFileName</key>
            <string>fish_120.png</string>
        </dict>
    </dict>
</plist>
