<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_109_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,621},{139,200}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{139,200}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,762},{141,196}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{141,196}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,280},{135,206}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{135,206}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{131,210}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{133,208}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{133,208}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{145,200}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{145,200}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{155,194}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{155,194}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{163,192}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{163,192}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,417},{161,194}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{161,194}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,198},{153,194}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{153,194}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,613},{141,198}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{141,198}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,417},{141,202}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{141,202}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,137},{141,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{141,206}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
            <key>fish_109_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{141,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{141,208}}</string>
                <key>sourceSize</key>
                <string>{185,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_109.png</string>
            <key>size</key>
            <string>{510,905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b43124cc5cc9a575d27c535714d4fc1c$</string>
            <key>textureFileName</key>
            <string>fish_109.png</string>
        </dict>
    </dict>
</plist>
