<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_123_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,404},{202,418}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{202,418}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,608},{202,416}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{202,416}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,206},{196,422}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{196,422}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{190,424}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{190,424}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{188,428}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{188,428}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{192,430}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{192,430}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,432},{194,426}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{194,426}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,428},{196,424}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{196,424}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{200,424}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{200,424}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{202,422}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{202,422}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,812},{192,416}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{192,416}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,432}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,9},{176,432}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,860},{148,412}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{148,412}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
            <key>fish_123_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,428},{156,404}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{156,404}}</string>
                <key>sourceSize</key>
                <string>{230,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_123.png</string>
            <key>size</key>
            <string>{1188,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82df6ac25ab34b03e90cd0119dbc6580$</string>
            <key>textureFileName</key>
            <string>fish_123.png</string>
        </dict>
    </dict>
</plist>
