<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhoupoker_desk_betbg_xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1531},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>dezhoupoker_desk_blinkbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1730},{126,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,184}}</string>
                <key>sourceSize</key>
                <string>{126,184}</string>
            </dict>
            <key>dezhoupoker_desk_btn_allin.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1333},{213,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,84}}</string>
                <key>sourceSize</key>
                <string>{213,84}</string>
            </dict>
            <key>dezhoupoker_desk_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1589},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>dezhoupoker_desk_btn_buyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1467},{160,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,35}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>dezhoupoker_desk_btn_cardtype.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1343},{162,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,35}}</string>
                <key>sourceSize</key>
                <string>{162,35}</string>
            </dict>
            <key>dezhoupoker_desk_btn_changetable.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,806},{158,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,37}}</string>
                <key>sourceSize</key>
                <string>{158,37}</string>
            </dict>
            <key>dezhoupoker_desk_btn_dashang.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1697},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>dezhoupoker_desk_btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1113},{169,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,34}}</string>
                <key>sourceSize</key>
                <string>{169,34}</string>
            </dict>
            <key>dezhoupoker_desk_btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1894},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>dezhoupoker_desk_btn_fold.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1325},{204,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,88}</string>
            </dict>
            <key>dezhoupoker_desk_btn_huanzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1271},{204,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,88}</string>
            </dict>
            <key>dezhoupoker_desk_btn_huanzhuo_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1858},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>dezhoupoker_desk_btn_huigu.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1613},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dezhoupoker_desk_btn_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,811},{223,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,86}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>dezhoupoker_desk_btn_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1820},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>dezhoupoker_desk_btn_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1181},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>dezhoupoker_desk_btn_pull.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,814},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>dezhoupoker_desk_btn_raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1504},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>dezhoupoker_desk_btn_rangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1279},{204,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,88}</string>
            </dict>
            <key>dezhoupoker_desk_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1477},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dezhoupoker_desk_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1531},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dezhoupoker_desk_btn_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1824},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>dezhoupoker_desk_btn_sit.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,723},{223,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,86}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>dezhoupoker_desk_btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1307},{163,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,34}}</string>
                <key>sourceSize</key>
                <string>{163,34}</string>
            </dict>
            <key>dezhoupoker_desk_btn_standup.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1380},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>dezhoupoker_desk_btn_sutosit.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,635},{223,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,86}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>dezhoupoker_desk_btn_zise.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1485},{210,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,83}}</string>
                <key>sourceSize</key>
                <string>{210,83}</string>
            </dict>
            <key>dezhoupoker_desk_checkbtn_notsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1289},{210,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,83}}</string>
                <key>sourceSize</key>
                <string>{210,83}</string>
            </dict>
            <key>dezhoupoker_desk_checkbtn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1419},{210,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,83}}</string>
                <key>sourceSize</key>
                <string>{210,83}</string>
            </dict>
            <key>dezhoupoker_desk_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1504},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>dezhoupoker_desk_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1766},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>dezhoupoker_desk_dealer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1970},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>dezhoupoker_desk_dealer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1936},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>dezhoupoker_desk_dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1766},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>dezhoupoker_desk_dipai5_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1806},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>dezhoupoker_desk_dipai5_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1620},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>dezhoupoker_desk_dipai_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1858},{43,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,32}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>dezhoupoker_desk_dipai_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1892},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>dezhoupoker_desk_eff_deng_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,845},{120,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,177}}</string>
                <key>sourceSize</key>
                <string>{120,177}</string>
            </dict>
            <key>dezhoupoker_desk_eff_deng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1633},{126,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,185}}</string>
                <key>sourceSize</key>
                <string>{126,185}</string>
            </dict>
            <key>dezhoupoker_desk_eff_deng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1518},{126,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,185}}</string>
                <key>sourceSize</key>
                <string>{126,185}</string>
            </dict>
            <key>dezhoupoker_desk_eff_deng_waifagukang.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1374},{142,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,196}}</string>
                <key>sourceSize</key>
                <string>{142,196}</string>
            </dict>
            <key>dezhoupoker_desk_eff_deng_xuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,385},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>dezhoupoker_desk_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,169},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>dezhoupoker_desk_guo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,967},{177,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,26}}</string>
                <key>sourceSize</key>
                <string>{177,26}</string>
            </dict>
            <key>dezhoupoker_desk_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1897},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>dezhoupoker_desk_head_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1897},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>dezhoupoker_desk_head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1574},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>dezhoupoker_desk_headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1416},{160,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,49}}</string>
                <key>sourceSize</key>
                <string>{160,49}</string>
            </dict>
            <key>dezhoupoker_desk_heguanbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1674},{197,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,54}}</string>
                <key>sourceSize</key>
                <string>{197,54}</string>
            </dict>
            <key>dezhoupoker_desk_huangjuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,995},{116,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,171}}</string>
                <key>sourceSize</key>
                <string>{116,171}</string>
            </dict>
            <key>dezhoupoker_desk_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{414,703}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,703}}</string>
                <key>sourceSize</key>
                <string>{414,703}</string>
            </dict>
            <key>dezhoupoker_desk_img_bet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,385},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>dezhoupoker_desk_img_bet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1649},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>dezhoupoker_desk_img_bet_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1302},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>dezhoupoker_desk_img_bet_bb100.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1271},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>dezhoupoker_desk_img_bet_bb20.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,498},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>dezhoupoker_desk_img_bet_bb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,471},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>dezhoupoker_desk_img_bet_qianzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,444},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>dezhoupoker_desk_img_bet_sb.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,417},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>dezhoupoker_desk_img_betbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,784},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>dezhoupoker_desk_jinbibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>dezhoupoker_desk_juxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{1280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,90}}</string>
                <key>sourceSize</key>
                <string>{1280,90}</string>
            </dict>
            <key>dezhoupoker_desk_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{293,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,66}}</string>
                <key>sourceSize</key>
                <string>{293,66}</string>
            </dict>
            <key>dezhoupoker_desk_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1149},{114,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,168}}</string>
                <key>sourceSize</key>
                <string>{114,168}</string>
            </dict>
            <key>dezhoupoker_desk_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,899},{217,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,388}}</string>
                <key>sourceSize</key>
                <string>{217,388}</string>
            </dict>
            <key>dezhoupoker_desk_paixingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1265},{166,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,40}}</string>
                <key>sourceSize</key>
                <string>{166,40}</string>
            </dict>
            <key>dezhoupoker_desk_slider_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1172},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>dezhoupoker_desk_slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,705}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,705}}</string>
                <key>sourceSize</key>
                <string>{199,705}</string>
            </dict>
            <key>dezhoupoker_desk_slider_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,751},{483,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,46}}</string>
                <key>sourceSize</key>
                <string>{483,46}</string>
            </dict>
            <key>dezhoupoker_desk_slider_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,70},{476,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,34}}</string>
                <key>sourceSize</key>
                <string>{476,34}</string>
            </dict>
            <key>dezhoupoker_desk_slider_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{130,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,604}}</string>
                <key>sourceSize</key>
                <string>{130,604}</string>
            </dict>
            <key>dezhoupoker_desk_text_genrenhezhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1374},{140,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,39}}</string>
                <key>sourceSize</key>
                <string>{140,39}</string>
            </dict>
            <key>dezhoupoker_desk_text_qingshaodeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,799},{352,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,36}}</string>
                <key>sourceSize</key>
                <string>{352,36}</string>
            </dict>
            <key>dezhoupoker_desk_text_quanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1516},{73,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,38}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
            <key>dezhoupoker_desk_text_ranghuoqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1239},{105,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,38}}</string>
                <key>sourceSize</key>
                <string>{105,38}</string>
            </dict>
            <key>dezhoupoker_desk_text_state_dairu.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1504},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>dezhoupoker_desk_text_state_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1531},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>dezhoupoker_desk_text_state_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1477},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>dezhoupoker_desk_text_state_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1595},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>dezhoupoker_desk_text_state_quanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,751},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>dezhoupoker_desk_text_state_rangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1591},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>dezhoupoker_desk_textqipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1858},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>dezhoupoker_desk_yingle_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,719},{460,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,92}}</string>
                <key>sourceSize</key>
                <string>{460,92}</string>
            </dict>
            <key>dezhoupoker_desk_yingle_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,837},{333,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,333}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>dezhoupoker_desk_yingle_sui.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,548},{65,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,111}}</string>
                <key>sourceSize</key>
                <string>{65,111}</string>
            </dict>
            <key>dezhoupoker_desk_yingle_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,70},{277,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,97}}</string>
                <key>sourceSize</key>
                <string>{277,97}</string>
            </dict>
            <key>dezhoupoker_desk_yingpaikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,661},{89,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,121}}</string>
                <key>sourceSize</key>
                <string>{89,121}</string>
            </dict>
            <key>dezhoupoker_desk_yingpaikuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1104},{109,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,98}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>dezhoupoker_desk_yingpaikuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1004},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>dezhoupoker_desk_yingpaikuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,619},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>dezhoupoker_desk_yingpaikuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,904},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>dezhoupoker_desk_yingpaikuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1215},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>dezhoupoker_desk_yizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,169},{214,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,252}}</string>
                <key>sourceSize</key>
                <string>{214,252}</string>
            </dict>
            <key>dezhoupoker_desk_yuanjiaojuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1172},{159,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,213}}</string>
                <key>sourceSize</key>
                <string>{159,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dezhoupoker_desk.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c44d07f7d10f1bd4368b7d583ac2a70$</string>
            <key>textureFileName</key>
            <string>dezhoupoker_desk.png</string>
        </dict>
    </dict>
</plist>
