<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhoupoker_eff_allIn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,179},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,647},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,413},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,179},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,356},{175,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,230}}</string>
                <key>sourceSize</key>
                <string>{175,230}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,356},{175,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,230}}</string>
                <key>sourceSize</key>
                <string>{175,230}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,179},{175,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,230}}</string>
                <key>sourceSize</key>
                <string>{175,230}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,179},{175,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,230}}</string>
                <key>sourceSize</key>
                <string>{175,230}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
            <key>dezhoupoker_eff_allIn_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,232}}</string>
                <key>sourceSize</key>
                <string>{175,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dezhoupoker_eff.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1dbbf975fdecb7265ae597a255ba37d$</string>
            <key>textureFileName</key>
            <string>dezhoupoker_eff.png</string>
        </dict>
    </dict>
</plist>
