<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhoupoker_entry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,286},{438,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,208}}</string>
                <key>sourceSize</key>
                <string>{438,208}</string>
            </dict>
            <key>dezhoupoker_entry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,496},{436,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,207}}</string>
                <key>sourceSize</key>
                <string>{436,207}</string>
            </dict>
            <key>dezhoupoker_entry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,746},{436,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,226}}</string>
                <key>sourceSize</key>
                <string>{436,226}</string>
            </dict>
            <key>dezhoupoker_entry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{458,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,211}}</string>
                <key>sourceSize</key>
                <string>{458,211}</string>
            </dict>
            <key>dezhoupoker_entry_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>dezhoupoker_entry_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,333},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>dezhoupoker_entry_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,242},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>dezhoupoker_entry_backbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,705},{302,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,104}}</string>
                <key>sourceSize</key>
                <string>{302,104}</string>
            </dict>
            <key>dezhoupoker_entry_backbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{964,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,85}}</string>
                <key>sourceSize</key>
                <string>{964,85}</string>
            </dict>
            <key>dezhoupoker_entry_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{238,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,29}}</string>
                <key>sourceSize</key>
                <string>{238,29}</string>
            </dict>
            <key>dezhoupoker_entry_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,89},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>dezhoupoker_entry_free_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{107,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,36}}</string>
                <key>sourceSize</key>
                <string>{107,36}</string>
            </dict>
            <key>dezhoupoker_entry_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,974},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>dezhoupoker_entry_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,705},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>dezhoupoker_entry_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,974},{213,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,45}}</string>
                <key>sourceSize</key>
                <string>{213,45}</string>
            </dict>
            <key>dezhoupoker_entry_goldbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,746},{228,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,42}}</string>
                <key>sourceSize</key>
                <string>{228,42}</string>
            </dict>
            <key>dezhoupoker_entry_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,89},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dezhoupoker_entry_head_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,189},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>dezhoupoker_entry_head_temp.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,89},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>dezhoupoker_entry_headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,71},{213,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,45}}</string>
                <key>sourceSize</key>
                <string>{213,45}</string>
            </dict>
            <key>dezhoupoker_entry_headbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,974},{205,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,44}}</string>
                <key>sourceSize</key>
                <string>{205,44}</string>
            </dict>
            <key>dezhoupoker_entry_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,89},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>dezhoupoker_entry_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,177},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>dezhoupoker_entry_id_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{170,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,42}}</string>
                <key>sourceSize</key>
                <string>{170,42}</string>
            </dict>
            <key>dezhoupoker_entry_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,705},{98,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,38}}</string>
                <key>sourceSize</key>
                <string>{98,38}</string>
            </dict>
            <key>dezhoupoker_entry_limit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,705},{83,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,28}}</string>
                <key>sourceSize</key>
                <string>{83,28}</string>
            </dict>
            <key>dezhoupoker_entry_limit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,705},{83,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,28}}</string>
                <key>sourceSize</key>
                <string>{83,28}</string>
            </dict>
            <key>dezhoupoker_entry_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>dezhoupoker_entry_people_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,47},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>dezhoupoker_entry_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,89},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>dezhoupoker_entry_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,189},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>dezhoupoker_entry_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,177},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dezhoupoker_entry.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdb426588e7c6d6567fc5eb2f1b7baf3$</string>
            <key>textureFileName</key>
            <string>dezhoupoker_entry.png</string>
        </dict>
    </dict>
</plist>
