<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhoupoker_chatbubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>dezhoupoker_chatpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dezhoupoker_chatbubble.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d104d9bea6c2f96da963b32f410e8c7$</string>
            <key>textureFileName</key>
            <string>dezhoupoker_chatbubble.png</string>
        </dict>
    </dict>
</plist>
