<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhoupoker_entry_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,142},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>dezhoupoker_entry_helptitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,132},{87,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,71}}</string>
                <key>sourceSize</key>
                <string>{87,71}</string>
            </dict>
            <key>dezhoupoker_entry_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,205},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>dezhoupoker_entry_setclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{191,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,63}}</string>
                <key>sourceSize</key>
                <string>{191,63}</string>
            </dict>
            <key>dezhoupoker_entry_setopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,63}}</string>
                <key>sourceSize</key>
                <string>{191,63}</string>
            </dict>
            <key>dezhoupoker_entry_settitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
            <key>dezhoupoker_entry_shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,73},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>dezhoupoker_entry_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{69,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dezhoupoker_entry_menu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea934173b100f842e49d192b583af62$</string>
            <key>textureFileName</key>
            <string>dezhoupoker_entry_menu.png</string>
        </dict>
    </dict>
</plist>
