<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhoupoker_poker_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,202},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>dezhoupoker_poker_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,628},{34,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
            <key>dezhoupoker_poker_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,556},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>dezhoupoker_poker_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,918},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,594},{34,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
            <key>dezhoupoker_poker_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,266},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>dezhoupoker_poker_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,882},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,341},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>dezhoupoker_poker_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,522},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>dezhoupoker_poker_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,846},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,810},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,486},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>dezhoupoker_poker_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,390},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>dezhoupoker_poker_fang_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,952},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>dezhoupoker_poker_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{72,82}</string>
            </dict>
            <key>dezhoupoker_poker_hei_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,986},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>dezhoupoker_poker_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,86},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>dezhoupoker_poker_hong_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,989},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>dezhoupoker_poker_hua_11_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{83,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,113}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_11_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,279},{81,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,109}}</string>
                <key>sourceSize</key>
                <string>{81,109}</string>
            </dict>
            <key>dezhoupoker_poker_hua_11_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{83,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,113}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_11_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,779},{83,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,113}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_12_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{83,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,113}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_12_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,894},{83,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,112}}</string>
                <key>sourceSize</key>
                <string>{83,112}</string>
            </dict>
            <key>dezhoupoker_poker_hua_12_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,664},{83,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,113}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_12_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{83,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,113}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_13_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{84,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_13_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{84,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_13_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{84,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>dezhoupoker_poker_hua_13_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{86,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{86,114}</string>
            </dict>
            <key>dezhoupoker_poker_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,478},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>dezhoupoker_poker_mei_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,952},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dezhoupoker_poker_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,774},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,163},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>dezhoupoker_poker_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,592},{34,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
            <key>dezhoupoker_poker_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,450},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>dezhoupoker_poker_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,738},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,558},{34,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
            <key>dezhoupoker_poker_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,241},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>dezhoupoker_poker_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,702},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,304},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>dezhoupoker_poker_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,414},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>dezhoupoker_poker_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,666},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,630},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>dezhoupoker_poker_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,378},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>dezhoupoker_poker_xybg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,178}}</string>
                <key>sourceSize</key>
                <string>{130,178}</string>
            </dict>
            <key>dezhoupoker_poker_xybg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,178}}</string>
                <key>sourceSize</key>
                <string>{130,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dezhoupoker_poker.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d2f5ee7827061a87ad3b7cb930afab$</string>
            <key>textureFileName</key>
            <string>dezhoupoker_poker.png</string>
        </dict>
    </dict>
</plist>
