<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>About Us.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,481},{116,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,24}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>en_lobby_bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>en_lobby_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,416},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>en_lobby_bag_daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,455},{76,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,27}}</string>
                <key>sourceSize</key>
                <string>{76,27}</string>
            </dict>
            <key>en_lobby_bag_daoju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,290},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
            <key>en_lobby_bag_duihuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,373},{129,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,28}}</string>
                <key>sourceSize</key>
                <string>{129,28}</string>
            </dict>
            <key>en_lobby_bag_duihuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,290},{155,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,47}}</string>
                <key>sourceSize</key>
                <string>{155,47}</string>
            </dict>
            <key>en_lobby_bag_quanbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,404},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>en_lobby_bag_quanbu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,236},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>en_lobby_bag_xuanzehaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,385},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>en_lobby_duihuan_duihuanwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,339},{167,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,32}}</string>
                <key>sourceSize</key>
                <string>{167,32}</string>
            </dict>
            <key>en_lobby_duihuan_huafei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_duihuan_huafei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,36},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_duihuan_jilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,160},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_duihuan_jilu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_duihuan_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,222},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>en_lobby_duihuan_shiwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,98},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_duihuan_shiwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_duihuan_xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,346},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>en_lobby_duihuan_zhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,484},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>en_lobby_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,403},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>en_lobby_game2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,403},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>en_lobby_me1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,318},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>en_lobby_me2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,339},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>en_lobby_set_language_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,32}}</string>
                <key>sourceSize</key>
                <string>{446,32}</string>
            </dict>
            <key>en_lobby_set_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,222},{146,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{146,66}}</string>
                <key>sourceSize</key>
                <string>{148,68}</string>
            </dict>
            <key>en_lobby_set_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{144,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,68}}</string>
                <key>sourceSize</key>
                <string>{148,68}</string>
            </dict>
            <key>en_lobby_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,236},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>en_lobby_shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,184},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>en_lobby_shop_diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,36},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_shop_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_shop_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>en_lobby_shop_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>en_lobby.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8f353e0002082474e44a5e750d6d5e5$</string>
            <key>textureFileName</key>
            <string>en_lobby.png</string>
        </dict>
    </dict>
</plist>
