<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>props1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,332},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>props2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,302},{52,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,81}}</string>
                <key>sourceSize</key>
                <string>{52,81}</string>
            </dict>
            <key>zh_lobby_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,284},{52,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,81}}</string>
                <key>sourceSize</key>
                <string>{52,81}</string>
            </dict>
            <key>zh_lobby_bag_daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,177},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>zh_lobby_bag_daoju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,36},{116,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,52}}</string>
                <key>sourceSize</key>
                <string>{116,52}</string>
            </dict>
            <key>zh_lobby_bag_duihuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,144},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>zh_lobby_bag_duihuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,90},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>zh_lobby_bag_quanbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,367},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>zh_lobby_bag_quanbu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,514},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>zh_lobby_bag_xuanzehaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,466},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>zh_lobby_duihuan_duihuanwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>zh_lobby_duihuan_huafei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,266},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_duihuan_huafei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_duihuan_jilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,200},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_duihuan_jilu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_duihuan_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,446},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>zh_lobby_duihuan_shiwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,134},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_duihuan_shiwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_duihuan_xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,432},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>zh_lobby_duihuan_zhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,398},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>zh_lobby_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,522},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>zh_lobby_game2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,456},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>zh_lobby_me1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,256},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>zh_lobby_me2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,210},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>zh_lobby_set_language_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,144},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>zh_lobby_set_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{148,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>zh_lobby_set_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,398},{146,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,69}}</string>
                <key>sourceSize</key>
                <string>{146,69}</string>
            </dict>
            <key>zh_lobby_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,406},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>zh_lobby_shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,356},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>zh_lobby_shop_diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,68},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_shop_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_shop_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>zh_lobby_shop_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zh_lobby.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cd96c7c8ba79679ad0ee150132fa3fd$</string>
            <key>textureFileName</key>
            <string>zh_lobby.png</string>
        </dict>
    </dict>
</plist>
