<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_flameKnight1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{205,189}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_flameKnight1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{205,189}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{1,192},{205,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_flameKnight1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{205,189}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{1,383},{205,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_flameKnight1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{205,189}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{1,574},{205,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_flameKnight1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{205,189}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{1,765},{205,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon_flameKnight1Atlas.png</string>
            <key>size</key>
            <string>{207,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:618fa0eb0321286101fd751982af5339:4ce24470f92194bb6519c60724570bda:0564ccd0314fea1f624338f0bedea07e$</string>
            <key>textureFileName</key>
            <string>cannon_flameKnight1Atlas.png</string>
        </dict>
    </dict>
</plist>
