<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOTALBET.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,19}</string>
                <key>spriteSourceSize</key>
                <string>{55,19}</string>
                <key>textureRect</key>
                <string>{{113,0},{55,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,50}</string>
                <key>spriteSourceSize</key>
                <string>{274,50}</string>
                <key>textureRect</key>
                <string>{{0,75},{274,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,51}</string>
                <key>spriteSourceSize</key>
                <string>{93,51}</string>
                <key>textureRect</key>
                <string>{{373,0},{93,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{813,150}</string>
                <key>spriteSourceSize</key>
                <string>{813,150}</string>
                <key>textureRect</key>
                <string>{{0,343},{813,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{278,235},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tahan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{508,235},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{321,0},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{219,0},{51,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{51,35}</string>
                <key>textureRect</key>
                <string>{{168,0},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{270,0},{51,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,23}</string>
                <key>spriteSourceSize</key>
                <string>{45,23}</string>
                <key>textureRect</key>
                <string>{{68,0},{45,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_defen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,21}</string>
                <key>spriteSourceSize</key>
                <string>{34,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_zongya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,21}</string>
                <key>spriteSourceSize</key>
                <string>{34,21}</string>
                <key>textureRect</key>
                <string>{{34,0},{34,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,36}</string>
                <key>spriteSourceSize</key>
                <string>{247,36}</string>
                <key>textureRect</key>
                <string>{{466,0},{247,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zdyz_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,75}</string>
                <key>spriteSourceSize</key>
                <string>{139,75}</string>
                <key>textureRect</key>
                <string>{{713,0},{139,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_fhyx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{274,75},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_fhyx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{552,75},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_syy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{0,155},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_syy02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{278,155},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_xyy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{556,155},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi_xyy02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{0,235},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zh_fruits_game.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd095f3f5238fce751f93fd8509b833:4d4704e5a29f2c10355776b9ed7663b4:f781016d76b483bcea37b8e682eea2f6$</string>
            <key>textureFileName</key>
            <string>zh_fruits_game.png</string>
        </dict>
    </dict>
</plist>
