<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vi_lobby_bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,156},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>vi_lobby_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,238},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>vi_lobby_bag_daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,99},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>vi_lobby_bag_daoju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{126,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,45}}</string>
                <key>sourceSize</key>
                <string>{126,45}</string>
            </dict>
            <key>vi_lobby_bag_duihuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,478},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>vi_lobby_bag_duihuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,288},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>vi_lobby_bag_quanbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,49},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>vi_lobby_bag_quanbu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,128},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>vi_lobby_bag_xuanzehaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,403},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>vi_lobby_duihuan_duihuanwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,478},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>vi_lobby_duihuan_huafei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,292},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_duihuan_huafei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,292},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_duihuan_jilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,292},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_duihuan_jilu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,292},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_duihuan_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,478},{146,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,27}}</string>
                <key>sourceSize</key>
                <string>{146,27}</string>
            </dict>
            <key>vi_lobby_duihuan_shiwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,292},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_duihuan_shiwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_duihuan_xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,474},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>vi_lobby_duihuan_zhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,128},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,32}}</string>
                <key>sourceSize</key>
                <string>{162,32}</string>
            </dict>
            <key>vi_lobby_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,222},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>vi_lobby_game2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,156},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>vi_lobby_me1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,156},{44,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,79}}</string>
                <key>sourceSize</key>
                <string>{44,79}</string>
            </dict>
            <key>vi_lobby_me2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,237},{44,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,79}}</string>
                <key>sourceSize</key>
                <string>{44,79}</string>
            </dict>
            <key>vi_lobby_set_language_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{167,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,31}}</string>
                <key>sourceSize</key>
                <string>{167,31}</string>
            </dict>
            <key>vi_lobby_set_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{148,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,67}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>vi_lobby_set_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,134},{146,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,69}}</string>
                <key>sourceSize</key>
                <string>{146,69}</string>
            </dict>
            <key>vi_lobby_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,156},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>vi_lobby_shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,347},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>vi_lobby_shop_diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,68},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_shop_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_shop_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>vi_lobby_shop_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vi_lobby.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27aa5621c3d3b98255329953c29a5026$</string>
            <key>textureFileName</key>
            <string>vi_lobby.png</string>
        </dict>
    </dict>
</plist>
