<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_shadowHunter3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{245,219}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_shadowHunter3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{241,225}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{248,1},{241,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_shadowHunter3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{231,217}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{240,244},{231,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_shadowHunter3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{237,217}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{1,222},{237,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_shadowHunter3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{237,217}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{1,441},{237,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon_shadowHunter3Atlas.png</string>
            <key>size</key>
            <string>{474,659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6c05c3046e59703ab3535c6b81c030d:f366d4ab050efa5fb67767233400ec48:1e024f177e38d0ad31650c245a8f5411$</string>
            <key>textureFileName</key>
            <string>cannon_shadowHunter3Atlas.png</string>
        </dict>
    </dict>
</plist>
