<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_bravePioneer_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1459},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_bravePioneer_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,589},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_bravePioneer_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1289},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_bravePioneer_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{196,194}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,201},{196,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_bravePioneer_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{188,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,785},{188,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_bravePioneer_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{198,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_bravePioneer_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{196,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,397},{196,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_bravePioneer_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{188,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,969},{188,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_bravePioneer_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,18}</string>
                <key>spriteSize</key>
                <string>{182,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1143},{182,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb_bravePioneer.png</string>
            <key>size</key>
            <string>{200,1602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad57412ff84021864c0d686d10a33813:cfa716080fe4d90fbbbdb4685bf53a4a:e45ce8a11317de6c15b172f095df048b$</string>
            <key>textureFileName</key>
            <string>bomb_bravePioneer.png</string>
        </dict>
    </dict>
</plist>
