<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_coldBlade_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{194,196}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{209,217},{194,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_coldBlade_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1,217},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_coldBlade_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,210}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{405,215},{212,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_coldBlade_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{212,214}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_coldBlade_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{405,1},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb_coldBlade.png</string>
            <key>size</key>
            <string>{618,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cbd612981d982725013d67e9cc445b5:ec757909c025cf40afbc2276149d9e61:6393c92cedf27892a62e5b207966eb2d$</string>
            <key>textureFileName</key>
            <string>bomb_coldBlade.png</string>
        </dict>
    </dict>
</plist>
