<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_specter_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{167,165}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{167,165}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>bomb_specter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{179,179}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{179,179}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>bomb_specter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{181,179}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{181,179}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>bomb_specter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{205,193}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{205,193}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>bomb_specter_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,195}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{221,195}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>bomb_specter_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{189,185}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{189,185}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_specter.png</string>
            <key>size</key>
            <string>{199,1148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3556583230d48e6f600a6cd32d63353f:1/1$</string>
            <key>textureFileName</key>
            <string>bomb_specter.png</string>
        </dict>
    </dict>
</plist>
