<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hanyinglieshou_baozha_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{187,359},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_hanyinglieshou_baozha_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{166,168}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{187,189},{166,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hanyinglieshou_baozha_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{191,1},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hanyinglieshou_baozha_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{184,188}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,189},{184,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hanyinglieshou_baozha_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{188,186}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb_shadowHunter3Atlas.png</string>
            <key>size</key>
            <string>{354,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ea6d1328dcc64763e8ff34bd06f3bc:1bb835efe18db1ace57fb4074d20c815:9d7a5c4a2cf493493741af73d282bdfb$</string>
            <key>textureFileName</key>
            <string>bomb_shadowHunter3Atlas.png</string>
        </dict>
    </dict>
</plist>
