<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_iceGuard_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{232,242}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{523,263},{232,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_iceGuard_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{260,258}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{263,263},{260,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_iceGuard_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,260}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_iceGuard_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,260}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,263},{260,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_iceGuard_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,260}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{263,1},{260,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb_iceGuard.png</string>
            <key>size</key>
            <string>{756,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e3e5da4f5b221e85e665e17d9a85cd5:dc02abe6a5ff0e653869729a9b17c983:fc4a4991a30167521499ecb924f61b6b$</string>
            <key>textureFileName</key>
            <string>bomb_iceGuard.png</string>
        </dict>
    </dict>
</plist>
