<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tienlen_bag_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,124},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>tienlen_bag_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,50},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>tienlen_bag_btn_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>tienlen_bag_chkbox_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,279},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>tienlen_bag_chose_friend_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,120},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>tienlen_bag_friend_round_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>tienlen_bag_round_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,46}}</string>
                <key>sourceSize</key>
                <string>{290,46}</string>
            </dict>
            <key>tienlen_bag_sale_btn_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{222,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,72}}</string>
                <key>sourceSize</key>
                <string>{222,72}</string>
            </dict>
            <key>tienlen_bag_sale_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>tienlen_bag_sale_btn_ok_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,170},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>tienlen_bag_sale_btn_ok_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{178,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,62}}</string>
                <key>sourceSize</key>
                <string>{178,62}</string>
            </dict>
            <key>tienlen_bag_sale_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,352},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>tienlen_bag_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,80},{218,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,88}}</string>
                <key>sourceSize</key>
                <string>{218,88}</string>
            </dict>
            <key>tienlen_bag_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,226},{98,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,51}}</string>
                <key>sourceSize</key>
                <string>{98,51}</string>
            </dict>
            <key>tienlen_item_bagbtn_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,206},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>tienlen_item_bagbtn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,182},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>tienlen_item_bagbtn_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,180},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>tienlen_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tienlen_item_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,330},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>tienlen_item_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>tienlen_tab_all_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,279},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>tienlen_tab_all_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,356},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>tienlen_tab_exchange_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,294},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>tienlen_tab_exchange_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,232},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>tienlen_tab_item_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,182},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>tienlen_tab_item_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>tienlen_tab_other_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,204},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>tienlen_tab_other_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,170},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tienlen_bag_plist.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:def37d83558bdf3719ca015a2cf1c74f$</string>
            <key>textureFileName</key>
            <string>tienlen_bag_plist.png</string>
        </dict>
    </dict>
</plist>
