<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kh_shop_freetag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,168},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>kh_tienlen_activitytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,23}}</string>
                <key>sourceSize</key>
                <string>{82,23}</string>
            </dict>
            <key>kh_tienlen_anim_bisaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{121,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,55}}</string>
                <key>sourceSize</key>
                <string>{121,55}</string>
            </dict>
            <key>kh_tienlen_anim_jingdianchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,46},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>kh_tienlen_anim_yulechang.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,102},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>kh_tienlen_anim_ziyouzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,46},{125,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,47}}</string>
                <key>sourceSize</key>
                <string>{125,47}</string>
            </dict>
            <key>kh_tienlen_bag_btn_chushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>kh_tienlen_bag_btn_shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,46},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>kh_tienlen_bag_btn_zengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,46},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>kh_tienlen_bag_chushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>kh_tienlen_bag_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,46},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>kh_tienlen_bag_queding_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,46},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>kh_tienlen_bag_tab_daoju_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,102},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,102},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_duihuan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,102},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_duihuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,102},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_quanbu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,102},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_quanbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,102},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>kh_tienlen_bag_tab_xuanzehaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,102},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>kh_tienlen_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,102},{188,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,56}}</string>
                <key>sourceSize</key>
                <string>{188,56}</string>
            </dict>
            <key>kh_tienlen_btn_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,168},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_btn_chongwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,168},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_btn_fasong.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,46},{65,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,42}}</string>
                <key>sourceSize</key>
                <string>{65,42}</string>
            </dict>
            <key>kh_tienlen_btn_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,316},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>kh_tienlen_btn_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,240},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_btn_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,316},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>kh_tienlen_btn_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,168},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_btn_shoptext.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{71,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,27}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>kh_tienlen_btn_sousuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,46},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>kh_tienlen_btn_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>kh_tienlen_chehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,168},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_chongwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,102},{179,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,64}}</string>
                <key>sourceSize</key>
                <string>{179,64}</string>
            </dict>
            <key>kh_tienlen_chongwu_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_chongwu_beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,46},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_chongwu_chongwujineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_chongwu_chongwujineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_chongwu_gensui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_chongwu_huoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,168},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_huafei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,240},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_huafei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,240},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{206,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,35}}</string>
                <key>sourceSize</key>
                <string>{206,35}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{125,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,31}}</string>
                <key>sourceSize</key>
                <string>{125,31}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_shiwu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,240},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_shiwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,240},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,316},{361,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,93}}</string>
                <key>sourceSize</key>
                <string>{361,93}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{134,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,33}}</string>
                <key>sourceSize</key>
                <string>{134,33}</string>
            </dict>
            <key>kh_tienlen_duihuanshangcheng_zhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{101,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
            <key>kh_tienlen_got.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,316},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>kh_tienlen_icon_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>kh_tienlen_juese_beijing_weixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,46},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_juese_beijing_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,46},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_juese_jineng_weixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,46},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_juese_jineng_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>kh_tienlen_juese_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,46},{95,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{95,53}</string>
            </dict>
            <key>kh_tienlen_juese_shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,168},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_juese_yishiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,168},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>kh_tienlen_manji.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,316},{127,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,106}}</string>
                <key>sourceSize</key>
                <string>{127,106}</string>
            </dict>
            <key>kh_tienlen_shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{196,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,75}}</string>
                <key>sourceSize</key>
                <string>{196,75}</string>
            </dict>
            <key>kh_tienlen_sign_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,316},{530,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,144}}</string>
                <key>sourceSize</key>
                <string>{530,144}</string>
            </dict>
            <key>kh_tienlen_uinfo_bisaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,46},{115,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>kh_tienlen_uinfo_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>kh_tienlen_uinfo_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,240},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>kh_tienlen_uinfo_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,240},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>kh_tienlen_uinfo_yule.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>kh_tienlen_youjian_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,240},{232,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,74}}</string>
                <key>sourceSize</key>
                <string>{232,74}</string>
            </dict>
            <key>kh_tienlen_youjian_yidu.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kh_tienlen.png</string>
            <key>size</key>
            <string>{1588,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b8fae5cc357d4841446ececb29aea92$</string>
            <key>textureFileName</key>
            <string>kh_tienlen.png</string>
        </dict>
    </dict>
</plist>
