<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vi_shop_freetag.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,154},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>vi_tienlen_activitytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>vi_tienlen_anim_bisaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,88},{123,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,47}}</string>
                <key>sourceSize</key>
                <string>{123,47}</string>
            </dict>
            <key>vi_tienlen_anim_jingdianchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{124,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,45}}</string>
                <key>sourceSize</key>
                <string>{124,45}</string>
            </dict>
            <key>vi_tienlen_anim_yulechang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,41},{119,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,42}}</string>
                <key>sourceSize</key>
                <string>{119,42}</string>
            </dict>
            <key>vi_tienlen_anim_ziyouzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,41},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,45}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>vi_tienlen_bag_btn_chushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,17}}</string>
                <key>sourceSize</key>
                <string>{39,17}</string>
            </dict>
            <key>vi_tienlen_bag_btn_shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,21}</string>
            </dict>
            <key>vi_tienlen_bag_btn_zengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>vi_tienlen_bag_chushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{65,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,31}}</string>
                <key>sourceSize</key>
                <string>{65,31}</string>
            </dict>
            <key>vi_tienlen_bag_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>vi_tienlen_bag_queding_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>vi_tienlen_bag_tab_daoju_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,88},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>vi_tienlen_bag_tab_daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,88},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>vi_tienlen_bag_tab_duihuan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,88},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>vi_tienlen_bag_tab_duihuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,88},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>vi_tienlen_bag_tab_quanbu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,88},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>vi_tienlen_bag_tab_quanbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,88},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>vi_tienlen_bag_tab_xuanzehaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,88},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>vi_tienlen_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,88},{89,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,49}}</string>
                <key>sourceSize</key>
                <string>{89,49}</string>
            </dict>
            <key>vi_tienlen_btn_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,225},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>vi_tienlen_btn_chongwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,225},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>vi_tienlen_btn_fasong.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>vi_tienlen_btn_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,301},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>vi_tienlen_btn_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,225},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>vi_tienlen_btn_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,301},{69,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>vi_tienlen_btn_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,225},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>vi_tienlen_btn_shoptext.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>vi_tienlen_btn_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,225},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>vi_tienlen_chehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,154},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>vi_tienlen_chongwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>vi_tienlen_chongwu_beijing_weixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,41},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>vi_tienlen_chongwu_beijing_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,41},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>vi_tienlen_chongwu_gensui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,154},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>vi_tienlen_chongwu_huoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>vi_tienlen_chongwu_jineng_weixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,41},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>vi_tienlen_chongwu_jineng_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,41},{128,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,41}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_huafei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,225},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_huafei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,301},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{120,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,25}}</string>
                <key>sourceSize</key>
                <string>{120,25}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{103,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>sourceSize</key>
                <string>{103,23}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_shiwu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_shiwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,301},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{245,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,67}}</string>
                <key>sourceSize</key>
                <string>{245,67}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>vi_tienlen_duihuanshangcheng_zhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{113,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,23}}</string>
                <key>sourceSize</key>
                <string>{113,23}</string>
            </dict>
            <key>vi_tienlen_juese_beijing_weixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,41},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>vi_tienlen_juese_beijing_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,41},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>vi_tienlen_juese_jineng_weixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,41},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>vi_tienlen_juese_jineng_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,41},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>vi_tienlen_juese_juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,2},{147,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,36}}</string>
                <key>sourceSize</key>
                <string>{147,36}</string>
            </dict>
            <key>vi_tienlen_juese_shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,154},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>vi_tienlen_juese_yishiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,154},{238,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,69}}</string>
                <key>sourceSize</key>
                <string>{238,69}</string>
            </dict>
            <key>vi_tienlen_manji.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,301},{121,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,101}}</string>
                <key>sourceSize</key>
                <string>{121,101}</string>
            </dict>
            <key>vi_tienlen_shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,154},{124,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,67}}</string>
                <key>sourceSize</key>
                <string>{124,67}</string>
            </dict>
            <key>vi_tienlen_sign_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,301},{740,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,144}}</string>
                <key>sourceSize</key>
                <string>{740,144}</string>
            </dict>
            <key>vi_tienlen_uinfo_bisaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,2},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>vi_tienlen_uinfo_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{138,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,39}}</string>
                <key>sourceSize</key>
                <string>{138,39}</string>
            </dict>
            <key>vi_tienlen_uinfo_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,225},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>vi_tienlen_uinfo_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,225},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>vi_tienlen_uinfo_yule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{107,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,36}}</string>
                <key>sourceSize</key>
                <string>{107,36}</string>
            </dict>
            <key>vi_tienlen_youjian_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,225},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>vi_tienlen_youjian_yidu.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vi_tienlen.png</string>
            <key>size</key>
            <string>{1460,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d0efca16fb3f4b2f5142589cc9f9f5$</string>
            <key>textureFileName</key>
            <string>vi_tienlen.png</string>
        </dict>
    </dict>
</plist>
