<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kh_lobby_bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,456},{110,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>kh_lobby_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,430},{110,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>kh_lobby_bag_daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,313},{147,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,44}}</string>
                <key>sourceSize</key>
                <string>{147,44}</string>
            </dict>
            <key>kh_lobby_bag_daoju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,71},{176,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,67}}</string>
                <key>sourceSize</key>
                <string>{176,67}</string>
            </dict>
            <key>kh_lobby_bag_duihuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{211,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,45}}</string>
                <key>sourceSize</key>
                <string>{211,45}</string>
            </dict>
            <key>kh_lobby_bag_duihuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>kh_lobby_bag_quanbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,355},{106,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,62}}</string>
                <key>sourceSize</key>
                <string>{106,62}</string>
            </dict>
            <key>kh_lobby_bag_quanbu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,419},{104,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,35}}</string>
                <key>sourceSize</key>
                <string>{104,35}</string>
            </dict>
            <key>kh_lobby_bag_xuanzehaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,603},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>kh_lobby_duihuan_duihuanwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,520},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>kh_lobby_duihuan_huafei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_duihuan_huafei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,249},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_duihuan_jilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,247},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_duihuan_jilu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,181},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_duihuan_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{159,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,44}}</string>
                <key>sourceSize</key>
                <string>{159,44}</string>
            </dict>
            <key>kh_lobby_duihuan_shiwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,132},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_duihuan_shiwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,115},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_duihuan_xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,318},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>kh_lobby_duihuan_zhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{128,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,38}}</string>
                <key>sourceSize</key>
                <string>{128,38}</string>
            </dict>
            <key>kh_lobby_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>kh_lobby_game2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,521},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>kh_lobby_me1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,521},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>kh_lobby_me2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>kh_lobby_set_language_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{166,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,32}}</string>
                <key>sourceSize</key>
                <string>{166,32}</string>
            </dict>
            <key>kh_lobby_set_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{148,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>kh_lobby_set_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,359},{146,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,69}}</string>
                <key>sourceSize</key>
                <string>{146,69}</string>
            </dict>
            <key>kh_lobby_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,546},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>kh_lobby_shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,435},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>kh_lobby_shop_diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_shop_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_shop_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>kh_lobby_shop_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,49},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kh_lobby.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df379f4ca4b87f3584fbee04852279c0$</string>
            <key>textureFileName</key>
            <string>kh_lobby.png</string>
        </dict>
    </dict>
</plist>
