<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tienlen_mail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{590,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,2}}</string>
                <key>sourceSize</key>
                <string>{590,2}</string>
            </dict>
            <key>tienlen_mail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,274},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>tienlen_mail_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{590,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,126}}</string>
                <key>sourceSize</key>
                <string>{590,126}</string>
            </dict>
            <key>tienlen_mail_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{200,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,74}}</string>
                <key>sourceSize</key>
                <string>{200,74}</string>
            </dict>
            <key>tienlen_mail_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,24}}</string>
                <key>sourceSize</key>
                <string>{220,24}</string>
            </dict>
            <key>tienlen_mail_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{200,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,74}}</string>
                <key>sourceSize</key>
                <string>{200,74}</string>
            </dict>
            <key>tienlen_mail_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>tienlen_mail_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,28},{528,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{528,18}}</string>
                <key>sourceSize</key>
                <string>{532,18}</string>
            </dict>
            <key>tienlen_mail_title_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{164,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,92}}</string>
                <key>sourceSize</key>
                <string>{164,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tienlen_mail_plist.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31485f29ee49c2c31d987fe4f867a063$</string>
            <key>textureFileName</key>
            <string>tienlen_mail_plist.png</string>
        </dict>
    </dict>
</plist>
