<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tienlen_back_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,193},{270,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,44}}</string>
                <key>sourceSize</key>
                <string>{270,44}</string>
            </dict>
            <key>tienlen_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,89},{80,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>tienlen_daoju_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,291},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>tienlen_daoju_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,259},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>tienlen_free_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,207},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>tienlen_gouwuche.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,150},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>tienlen_huobi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{159,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,44}}</string>
                <key>sourceSize</key>
                <string>{159,44}</string>
            </dict>
            <key>tienlen_jinbi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,226},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>tienlen_jinbi_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,193},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>tienlen_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,48},{146,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,39}}</string>
                <key>sourceSize</key>
                <string>{146,39}</string>
            </dict>
            <key>tienlen_role_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,48},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>tienlen_role_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,465},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>tienlen_scroll_topper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,465}}</string>
                <key>sourceSize</key>
                <string>{45,465}</string>
            </dict>
            <key>tienlen_shop_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{14,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,2}}</string>
                <key>sourceSize</key>
                <string>{14,2}</string>
            </dict>
            <key>tienlen_shop_tag_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,161},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>tienlen_shop_tag_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,125},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>tienlen_shop_tag_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,89},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>tienlen_zuanshi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,469},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>tienlen_zuanshi_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tienlen_shop_plist.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dca093ea24b3d6a1244beabd31c268e$</string>
            <key>textureFileName</key>
            <string>tienlen_shop_plist.png</string>
        </dict>
    </dict>
</plist>
