<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_plist_all_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bag_plist_all_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bag_plist_all_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,638},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>bag_plist_all_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,356},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>bag_plist_bg_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{470,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,90}}</string>
                <key>sourceSize</key>
                <string>{470,90}</string>
            </dict>
            <key>bag_plist_bg_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{470,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,90}}</string>
                <key>sourceSize</key>
                <string>{470,90}</string>
            </dict>
            <key>bag_plist_bg_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{470,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,90}}</string>
                <key>sourceSize</key>
                <string>{470,90}</string>
            </dict>
            <key>bag_plist_bg_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{398,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,68}}</string>
                <key>sourceSize</key>
                <string>{398,68}</string>
            </dict>
            <key>bag_plist_bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{720,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,2}}</string>
                <key>sourceSize</key>
                <string>{720,2}</string>
            </dict>
            <key>bag_plist_bg_num_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,568},{290,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,68}}</string>
                <key>sourceSize</key>
                <string>{290,68}</string>
            </dict>
            <key>bag_plist_bg_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{352,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,67}}</string>
                <key>sourceSize</key>
                <string>{352,67}</string>
            </dict>
            <key>bag_plist_bg_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,120}}</string>
                <key>sourceSize</key>
                <string>{720,120}</string>
            </dict>
            <key>bag_plist_btnback.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,220},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>bag_plist_btnselect_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,638},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bag_plist_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,158},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>bag_plist_exchange_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,638},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>bag_plist_exchange_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,821},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>bag_plist_friendbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,388},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>bag_plist_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,402},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>bag_plist_item_cnt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,918},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>bag_plist_item_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,476},{116,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,52}}</string>
                <key>sourceSize</key>
                <string>{116,52}</string>
            </dict>
            <key>bag_plist_item_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,724},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>bag_plist_pther_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,638},{77,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,51}</string>
            </dict>
            <key>bag_plist_pther_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,356},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bag_plist.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4849eaf39b6379551d6b93f6b4184af9$</string>
            <key>textureFileName</key>
            <string>bag_plist.png</string>
        </dict>
    </dict>
</plist>
