<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>landscape_award_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>landscape_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,163},{512,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,97}}</string>
                <key>sourceSize</key>
                <string>{512,97}</string>
            </dict>
            <key>landscape_title_lbl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{274,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,79}}</string>
                <key>sourceSize</key>
                <string>{276,79}</string>
            </dict>
            <key>lobby_award_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>lobby_award_item_bg_tienlen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>lobby_award_item_cnt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,80},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>lobby_award_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{200,70}}</string>
                <key>sourceSize</key>
                <string>{202,72}</string>
            </dict>
            <key>looby_common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,102},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>looby_common_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,76}}</string>
                <key>sourceSize</key>
                <string>{236,76}</string>
            </dict>
            <key>reddot.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,135},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_common_plist.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:801024b53b9d8a569d832c54257165f0$</string>
            <key>textureFileName</key>
            <string>lobby_common_plist.png</string>
        </dict>
    </dict>
</plist>
