<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_down_progress_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,380},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>lobby_down_progress_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,405},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>lobby_game_down_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{246,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,78}}</string>
                <key>sourceSize</key>
                <string>{246,78}</string>
            </dict>
            <key>lobby_game_down_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,78}}</string>
                <key>sourceSize</key>
                <string>{246,78}</string>
            </dict>
            <key>lobby_icon_bag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,82},{52,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,81}}</string>
                <key>sourceSize</key>
                <string>{52,81}</string>
            </dict>
            <key>lobby_icon_bag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,222},{52,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,81}}</string>
                <key>sourceSize</key>
                <string>{52,81}</string>
            </dict>
            <key>lobby_icon_fishhappy.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,82},{134,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>lobby_icon_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,215},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>lobby_icon_game_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,305},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>lobby_icon_me_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,416},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>lobby_icon_me_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>lobby_icon_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,82},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>lobby_icon_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,165},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>lobby_icon_tienlen.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,240},{134,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>lobby_item_downicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,380},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>lobby_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,82},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>lobby_money_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,252},{160,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,36}}</string>
                <key>sourceSize</key>
                <string>{160,36}</string>
            </dict>
            <key>lobby_money_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,82},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>lobby_money_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,82},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>lobby_money_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,163},{40,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>lobby_tag_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{162,48}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{162,48}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>lobby_tag_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,380},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>lobby_tag_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{168,50}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_plist.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2070cd30a899622691546cd82f9dfe8$</string>
            <key>textureFileName</key>
            <string>lobby_plist.png</string>
        </dict>
    </dict>
</plist>
