<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,19}</string>
                <key>spriteSourceSize</key>
                <string>{36,19}</string>
                <key>textureRect</key>
                <string>{{922,1960},{36,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,99}</string>
                <key>spriteSourceSize</key>
                <string>{301,99}</string>
                <key>textureRect</key>
                <string>{{527,1579},{301,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{2,1877},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{283,1877},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>autobg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,282}</string>
                <key>spriteSourceSize</key>
                <string>{178,282}</string>
                <key>textureRect</key>
                <string>{{2,601},{178,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{237,886},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boluo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{409,886},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{581,886},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,107}</string>
                <key>spriteSourceSize</key>
                <string>{289,107}</string>
                <key>textureRect</key>
                <string>{{235,1579},{289,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{105,58}</string>
                <key>textureRect</key>
                <string>{{814,1960},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{624,1960},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i_dianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{689,1960},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,252}</string>
                <key>spriteSourceSize</key>
                <string>{232,252}</string>
                <key>textureRect</key>
                <string>{{183,601},{232,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,252}</string>
                <key>spriteSourceSize</key>
                <string>{232,252}</string>
                <key>textureRect</key>
                <string>{{418,601},{232,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,252}</string>
                <key>spriteSourceSize</key>
                <string>{232,252}</string>
                <key>textureRect</key>
                <string>{{653,601},{232,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,252}</string>
                <key>spriteSourceSize</key>
                <string>{232,252}</string>
                <key>textureRect</key>
                <string>{{2,886},{232,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{320,1960},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jia_dianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{396,1960},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajian_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,71}</string>
                <key>spriteSourceSize</key>
                <string>{315,71}</string>
                <key>textureRect</key>
                <string>{{2,1960},{315,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{472,1960},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian_dianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{548,1960},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{753,886},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lingdang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{2,1141},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxbet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,75}</string>
                <key>spriteSourceSize</key>
                <string>{139,75}</string>
                <key>textureRect</key>
                <string>{{564,1877},{139,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxbet_dianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,75}</string>
                <key>spriteSourceSize</key>
                <string>{139,75}</string>
                <key>textureRect</key>
                <string>{{706,1877},{139,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ningmeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{174,1141},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>putao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{346,1141},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{518,1141},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,90}</string>
                <key>spriteSourceSize</key>
                <string>{506,90}</string>
                <key>textureRect</key>
                <string>{{2,1784},{506,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{667,1441},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_dianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{2,1579},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taitou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,135}</string>
                <key>spriteSourceSize</key>
                <string>{662,135}</string>
                <key>textureRect</key>
                <string>{{2,1441},{662,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{690,1141},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia_diban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,91}</string>
                <key>spriteSourceSize</key>
                <string>{640,91}</string>
                <key>textureRect</key>
                <string>{{2,1690},{640,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia_diban_zhongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,85}</string>
                <key>spriteSourceSize</key>
                <string>{422,85}</string>
                <key>textureRect</key>
                <string>{{511,1784},{422,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,442}</string>
                <key>spriteSourceSize</key>
                <string>{3,442}</string>
                <key>textureRect</key>
                <string>{{549,2},{3,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{2,1291},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xigua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{174,1291},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingtao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,147}</string>
                <key>spriteSourceSize</key>
                <string>{169,147}</string>
                <key>textureRect</key>
                <string>{{346,1291},{169,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{754,1960},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhongjian_jingxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,596}</string>
                <key>spriteSourceSize</key>
                <string>{544,596}</string>
                <key>textureRect</key>
                <string>{{2,2},{544,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhongjian_zhou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,442}</string>
                <key>spriteSourceSize</key>
                <string>{173,442}</string>
                <key>textureRect</key>
                <string>{{555,2},{173,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhongjian_zhou_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,442}</string>
                <key>spriteSourceSize</key>
                <string>{169,442}</string>
                <key>textureRect</key>
                <string>{{731,2},{169,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09488294881c436398503b4242ef1d4b:26191c6b2fc8acdac34be51ebeac642a:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
