<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOTALBET.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,15}</string>
                <key>spriteSourceSize</key>
                <string>{68,15}</string>
                <key>textureRect</key>
                <string>{{64,0},{68,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_lx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{707,75},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_lx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{0,183},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_pl01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{278,183},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_pl02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{556,183},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_xml01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{0,263},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_xml02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{278,263},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,60}</string>
                <key>spriteSourceSize</key>
                <string>{451,60}</string>
                <key>textureRect</key>
                <string>{{556,263},{451,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,46}</string>
                <key>spriteSourceSize</key>
                <string>{215,46}</string>
                <key>textureRect</key>
                <string>{{723,0},{215,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{813,150}</string>
                <key>spriteSourceSize</key>
                <string>{813,150}</string>
                <key>textureRect</key>
                <string>{{0,343},{813,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{0,75},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tahan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{230,75},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,38}</string>
                <key>spriteSourceSize</key>
                <string>{83,38}</string>
                <key>textureRect</key>
                <string>{{501,0},{83,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,45}</string>
                <key>spriteSourceSize</key>
                <string>{82,45}</string>
                <key>textureRect</key>
                <string>{{419,0},{82,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,35}</string>
                <key>spriteSourceSize</key>
                <string>{73,35}</string>
                <key>textureRect</key>
                <string>{{272,0},{73,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{74,34}</string>
                <key>textureRect</key>
                <string>{{345,0},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,19}</string>
                <key>spriteSourceSize</key>
                <string>{64,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_defen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{132,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_zongya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{202,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,36}</string>
                <key>spriteSourceSize</key>
                <string>{247,36}</string>
                <key>textureRect</key>
                <string>{{460,75},{247,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zdyz_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,75}</string>
                <key>spriteSourceSize</key>
                <string>{139,75}</string>
                <key>textureRect</key>
                <string>{{584,0},{139,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>en_fruits_game.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b53bef82fcc1f0093131d61b3a65739:1f420f1456f1d8af19a6e330353fe123:0050aa162cb0f4ba145eda7de9fbc531$</string>
            <key>textureFileName</key>
            <string>en_fruits_game.png</string>
        </dict>
    </dict>
</plist>
