<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOTALBET.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,25}</string>
                <key>spriteSourceSize</key>
                <string>{113,25}</string>
                <key>textureRect</key>
                <string>{{445,0},{113,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_lx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{703,37},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_pl02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{0,145},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_xml02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{278,145},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,67}</string>
                <key>spriteSourceSize</key>
                <string>{293,67}</string>
                <key>textureRect</key>
                <string>{{556,145},{293,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,69}</string>
                <key>spriteSourceSize</key>
                <string>{243,69}</string>
                <key>textureRect</key>
                <string>{{0,37},{243,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{813,150}</string>
                <key>spriteSourceSize</key>
                <string>{813,150}</string>
                <key>textureRect</key>
                <string>{{0,225},{813,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{243,37},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tahan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{473,37},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,37}</string>
                <key>spriteSourceSize</key>
                <string>{78,37}</string>
                <key>textureRect</key>
                <string>{{367,0},{78,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,36}</string>
                <key>spriteSourceSize</key>
                <string>{78,36}</string>
                <key>textureRect</key>
                <string>{{289,0},{78,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,34}</string>
                <key>spriteSourceSize</key>
                <string>{67,34}</string>
                <key>textureRect</key>
                <string>{{222,0},{67,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,33}</string>
                <key>spriteSourceSize</key>
                <string>{67,33}</string>
                <key>textureRect</key>
                <string>{{155,0},{67,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,30}</string>
                <key>textureRect</key>
                <string>{{32,0},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_defen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_zongya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,25}</string>
                <key>spriteSourceSize</key>
                <string>{65,25}</string>
                <key>textureRect</key>
                <string>{{90,0},{65,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,36}</string>
                <key>spriteSourceSize</key>
                <string>{247,36}</string>
                <key>textureRect</key>
                <string>{{679,0},{247,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zdyz_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,32}</string>
                <key>spriteSourceSize</key>
                <string>{121,32}</string>
                <key>textureRect</key>
                <string>{{558,0},{121,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kh_fruits_game.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91034a2fd5568edac766fcb939634e1d:da7cf958afaa05671463d03d854d5659:c42d41e3cf6d099d96ce4c9c99f9b5f3$</string>
            <key>textureFileName</key>
            <string>kh_fruits_game.png</string>
        </dict>
    </dict>
</plist>
