<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_specter_pharaoh_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{247,211}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{247,211}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_specter_pharaoh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{247,219}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,219}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_specter_pharaoh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,225}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,225}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_specter_pharaoh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{247,217}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,217}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_specter_pharaoh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{247,189}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{247,189}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_specter_pharaohAtlas.png</string>
            <key>size</key>
            <string>{251,1073}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6732b7370d5b82bcca492b7fbe754037:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_specter_pharaohAtlas.png</string>
        </dict>
    </dict>
</plist>
