<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOTALBET.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,15}</string>
                <key>spriteSourceSize</key>
                <string>{68,15}</string>
                <key>textureRect</key>
                <string>{{64,0},{68,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_lx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{720,56},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_lx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{0,164},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_pl01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{278,164},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_pl02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{556,164},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_xml01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{0,244},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_xml02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,80}</string>
                <key>spriteSourceSize</key>
                <string>{278,80}</string>
                <key>textureRect</key>
                <string>{{278,244},{278,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,60}</string>
                <key>spriteSourceSize</key>
                <string>{451,60}</string>
                <key>textureRect</key>
                <string>{{556,244},{451,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,54}</string>
                <key>spriteSourceSize</key>
                <string>{169,54}</string>
                <key>textureRect</key>
                <string>{{679,0},{169,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{813,150}</string>
                <key>spriteSourceSize</key>
                <string>{813,150}</string>
                <key>textureRect</key>
                <string>{{0,324},{813,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{0,56},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tahan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{230,56},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,43}</string>
                <key>textureRect</key>
                <string>{{499,0},{80,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,54}</string>
                <key>textureRect</key>
                <string>{{272,0},{72,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{79,56}</string>
                <key>textureRect</key>
                <string>{{420,0},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{344,0},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,19}</string>
                <key>spriteSourceSize</key>
                <string>{64,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_defen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{132,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_zongya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{202,0},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youwon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,43}</string>
                <key>spriteSourceSize</key>
                <string>{260,43}</string>
                <key>textureRect</key>
                <string>{{460,56},{260,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zdyz_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{579,0},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vi_fruits_game.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8cd6933e28585c33d0888f9a4a1b093:468718eaef26ef16094325386c0dbdea:faee47ff248b09ed9bce67050e058104$</string>
            <key>textureFileName</key>
            <string>vi_fruits_game.png</string>
        </dict>
    </dict>
</plist>
