<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_coldBlade_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{192,182}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_coldBlade_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{192,182}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{185,1},{192,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_coldBlade_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{192,182}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{369,1},{192,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_coldBlade_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{192,182}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{553,1},{192,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_coldBlade_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{192,182}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{737,1},{192,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon_coldBladeAtlas.png</string>
            <key>size</key>
            <string>{920,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27363984ef338cf993a93011d2e99222:78da25b7825e8f0f07652f2feee1d70c:8f76a008617ac94a641c12c2b4af8de7$</string>
            <key>textureFileName</key>
            <string>cannon_coldBladeAtlas.png</string>
        </dict>
    </dict>
</plist>
