<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_bravePioneer1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,142}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_bravePioneer1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1,145},{102,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_bravePioneer1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1,285},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_bravePioneer1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,138}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1,145},{102,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon_bravePioneer1Atlas.png</string>
            <key>size</key>
            <string>{104,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fefb469eaad90198d1ecc187f309f07:e7276907912becdb45d61456c870c850:bdb2a73956710cd09cb6481e43585f21$</string>
            <key>textureFileName</key>
            <string>cannon_bravePioneer1Atlas.png</string>
        </dict>
    </dict>
</plist>
