<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{154,122}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{1803,1},{154,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{1691,1},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{152,140}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{1167,1},{152,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanchuan_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,148}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{167,1},{162,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuang_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{995,1},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fu_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,148}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{659,1},{158,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>j_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{102,136}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{1587,1},{102,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{164,148}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>k_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{152,138}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{1433,1},{152,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luo_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,146}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{819,1},{174,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{1321,1},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wugui_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,148}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{331,1},{162,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanbao_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,148}</string>
                <key>spriteSourceSize</key>
                <string>{176,148}</string>
                <key>textureRect</key>
                <string>{{495,1},{162,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruitConis.png</string>
            <key>size</key>
            <string>{1958,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeef54c0dab4b9513382c2c9a5268101:e2d144414828f3bc47d0cf9e6c3124bd:f4a0d25b83831b2b1d91ce90385f8651$</string>
            <key>textureFileName</key>
            <string>fruitConis.png</string>
        </dict>
    </dict>
</plist>
