<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_hlby_entry_set_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,37},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>img_hlby_entry_set_lbl_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{78,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>img_hlby_entry_set_lbl_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{78,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>img_hlby_entry_set_lbl_zhendong.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,37},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>img_hlby_entry_set_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,290},{217,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,59}}</string>
                <key>sourceSize</key>
                <string>{217,59}</string>
            </dict>
            <key>img_hlby_entry_set_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,71},{217,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,59}}</string>
                <key>sourceSize</key>
                <string>{217,59}</string>
            </dict>
            <key>img_hlby_entry_set_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{488,61}}</string>
                <key>sourceSize</key>
                <string>{490,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_hlby_entry_set.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae1af59de8c9b00c3305898c6cd3b7ef$</string>
            <key>textureFileName</key>
            <string>img_hlby_entry_set.png</string>
        </dict>
    </dict>
</plist>
